# Data Gathering

### programmatically downloaded using the Requests library

In [2]:
#import libraries
import requests
import pandas as pd
import json
import datetime as dt

In [4]:
#store file to file handler
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
code = r.status_code
print(code)
#save downloaded file to local folder
open('image-predictions.tsv', 'wb').write(r.content)

200

335079

### Download tweet ID, retweet count, and favorite count using Tweepy API

In [ ]:
#read twitte IDs

#read the twitter-archive-enhanced.csv file in to dataframe
df_1 = pd.read_csv('twitter-archive-enhanced.csv')
df_1
#convert the first column of the datafram(tweet id) to a list
IDlist = df_1['tweet_id'].tolist()
IDlist

In [ ]:
#pull twitter status json from twitter API and store them into a list
import tweepy

# key and token omitted for privacy
consumer_key = '*'
consumer_secret = '*'
access_token = '*'
access_secret = '*'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit  = True, wait_on_rate_limit_notify = True)

tweet_list = []

for tid in IDlist:
    try:
        tweet = api.get_status(tid, tweet_mode='extended')
        tweet_list.append(tweet._json)
    except:
        print('tweet ' + str(tid) + "doesn't" exist')

In [5]:
#check if all tweet status has been downloaded
len(tweet_list)

2348

In [ ]:
# write json to txt file

# type(tweet_json)
with open('tweet_json.txt', 'w') as outfile:
    for tweet_json in tweet_list:
        json.dump(tweet_json, outfile)
        outfile.write('\n') #add a newline character at the end of each json

In [5]:
# read json from text

tweet_df_raw = pd.read_json('tweet_json.txt', lines = 'True')
tweet_df = tweet_df_raw[['id', 'retweet_count', 'favorite_count']]

tweet_df

                      id  retweet_count  favorite_count
0     892420643555336193           8758           39245
1     892177421306343426           6422           33609
2     891815181378084864           4265           25317
3     891689557279858688           8849           42611
4     891327558926688256           9631           40774
5     891087950875897856           3206           20444
6     890971913173991426           2124           11987
7     890729181411237888          19374           66310
8     890609185150312448           4362           28058
9     890240255349198849           7604           32303
10    890006608113172480           7512           30964
11    889880896479866881           5077           28063
12    889665388333682689          10261           48185
13    889638837579907072           4659           27468
14    889531135344209921           2285           15265
15    889278841981685760           5575           25585
16    888917238123831296           4635           29391
17    888804989199671297           4484           25881
18    888554962724278272           3685           20155
19    888078434458587136           3607           22026
20    887705289381826560           5539           30535
21    887517139158093824          11949           46711
22    887473957103951883          18718           69931
23    887343217045368832          10629           34049
24    887101392804085760           6106           30887
25    886983233522544640           7967           35575
26    886736880519319552           3383           12203
27    886680336477933568           4571           22674
28    886366144734445568           3260           21371
29    886267009285017600              4             117
...                  ...            ...             ...
2318  666411507551481857            337             457
2319  666407126856765440             42             112
2320  666396247373291520             90             170
2321  666373753744588802             95             193
2322  666362758909284353            586             794
2323  666353288456101888             74             226
2324  666345417576210432            144             305
2325  666337882303524864             95             202
2326  666293911632134144            364             515
2327  666287406224695296             70             151
2328  666273097616637952             79             180
2329  666268910803644416             36             107
2330  666104133288665088           6778           14599
2331  666102155909144576             14              80
2332  666099513787052032             72             159
2333  666094000022159362             76             165
2334  666082916733198337             46             119
2335  666073100786774016            172             328
2336  666071193221509120             65             153
2337  666063827256086533            226             489
2338  666058600524156928             59             115
2339  666057090499244032            144             304
2340  666055525042405380            259             447
2341  666051853826850816            869            1242
2342  666050758794694657             59             135
2343  666049248165822465             40             110
2344  666044226329800704            143             305
2345  666033412701032449             46             126
2346  666029285002620928             47             131
2347  666020888022790149            523            2528

[2348 rows x 3 columns]

# Data Assessing

In [6]:
#load 3 dataframes from different sources
archive_df = pd.read_csv('twitter-archive-enhanced.csv')
image_df = pd.read_csv('image-predictions.tsv', sep='\t')
status_df = tweet_df.copy()
status_df.rename(columns = {"id": "tweet_id"}, inplace = True)

In [7]:
status_df

                tweet_id  retweet_count  favorite_count
0     892420643555336193           8758           39245
1     892177421306343426           6422           33609
2     891815181378084864           4265           25317
3     891689557279858688           8849           42611
4     891327558926688256           9631           40774
5     891087950875897856           3206           20444
6     890971913173991426           2124           11987
7     890729181411237888          19374           66310
8     890609185150312448           4362           28058
9     890240255349198849           7604           32303
10    890006608113172480           7512           30964
11    889880896479866881           5077           28063
12    889665388333682689          10261           48185
13    889638837579907072           4659           27468
14    889531135344209921           2285           15265
15    889278841981685760           5575           25585
16    888917238123831296           4635           29391
17    888804989199671297           4484           25881
18    888554962724278272           3685           20155
19    888078434458587136           3607           22026
20    887705289381826560           5539           30535
21    887517139158093824          11949           46711
22    887473957103951883          18718           69931
23    887343217045368832          10629           34049
24    887101392804085760           6106           30887
25    886983233522544640           7967           35575
26    886736880519319552           3383           12203
27    886680336477933568           4571           22674
28    886366144734445568           3260           21371
29    886267009285017600              4             117
...                  ...            ...             ...
2318  666411507551481857            337             457
2319  666407126856765440             42             112
2320  666396247373291520             90             170
2321  666373753744588802             95             193
2322  666362758909284353            586             794
2323  666353288456101888             74             226
2324  666345417576210432            144             305
2325  666337882303524864             95             202
2326  666293911632134144            364             515
2327  666287406224695296             70             151
2328  666273097616637952             79             180
2329  666268910803644416             36             107
2330  666104133288665088           6778           14599
2331  666102155909144576             14              80
2332  666099513787052032             72             159
2333  666094000022159362             76             165
2334  666082916733198337             46             119
2335  666073100786774016            172             328
2336  666071193221509120             65             153
2337  666063827256086533            226             489
2338  666058600524156928             59             115
2339  666057090499244032            144             304
2340  666055525042405380            259             447
2341  666051853826850816            869            1242
2342  666050758794694657             59             135
2343  666049248165822465             40             110
2344  666044226329800704            143             305
2345  666033412701032449             46             126
2346  666029285002620928             47             131
2347  666020888022790149            523            2528

[2348 rows x 3 columns]

In [8]:
archive_df.info()
archive_df.sample()
type(archive_df.timestamp)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

pandas.core.series.Series

In [9]:
archive_df.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

issues in archive dataframe
1. Quality issues:
    - Retweets: some of the tweets in this dataframe are retweet, as mentioned in the project detail. These retweet are not supposed to be included in the analysis
    - Unnecessary information: text, sources are not needed for analysis. Retweeted_status_id and retweeted_status_user_id, and retweetd_status_timestamp are not needed after data cleaning procedure. 
    - The rating_numerator and rating_denominator can be combined into one column in decimal form.
    - Wrong data type for tweet id. Since no calculations will be applied on tweet ID, the tweet ID needs to be str instead of int64.
    - The timestamp column has wrong data type. 
2. Tidiess issues
    - Dog stages are not in one column, instead, they are divided into 4.
    - Date and time should be two variables for the purpose of analysis.

In [10]:
image_df.info()
image_df.p1.value_counts()
#image_df.sample()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

golden_retriever             150
Labrador_retriever           100
Pembroke                      89
Chihuahua                     83
pug                           57
chow                          44
Samoyed                       43
toy_poodle                    39
Pomeranian                    38
malamute                      30
cocker_spaniel                30
French_bulldog                26
miniature_pinscher            23
Chesapeake_Bay_retriever      23
seat_belt                     22
German_shepherd               20
Siberian_husky                20
Staffordshire_bullterrier     20
Cardigan                      19
web_site                      19
beagle                        18
teddy                         18
Eskimo_dog                    18
Maltese_dog                   18
Shetland_sheepdog             18
Rottweiler                    17
Shih-Tzu                      17
Lakeland_terrier              17
kuvasz                        16
Italian_greyhound             16
                            ...
sulphur-crested_cockatoo       1
binoculars                     1
African_crocodile              1
pencil_box                     1
slug                           1
hotdog                         1
guenon                         1
harp                           1
syringe                        1
zebra                          1
tricycle                       1
marmot                         1
rapeseed                       1
cheetah                        1
tick                           1
park_bench                     1
groenendael                    1
sundial                        1
ibex                           1
electric_fan                   1
bannister                      1
coral_reef                     1
bakery                         1
black-footed_ferret            1
cougar                         1
clog                           1
soccer_ball                    1
traffic_light                  1
flamingo                       1
cheeseburger                   1
Name: p1, Length: 378, dtype: int64

issues in image dataframe
1. Quality issues:
    - Non-descriptive column headers: p1, p1_conf, p1_dog, p2, p2_dog, p3, p3_conf, p3_dog etc. 
    - Some of the dog breeds has first letter capitalized and some are not. 
    - Some of the dog breeds are misspelled (ie. 19 of the breeds is website) or intended misspelled (ie. cheeseburger) 
    
2. Tidiess issues

In [11]:
status_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2348 entries, 0 to 2347
Data columns (total 3 columns):
tweet_id          2348 non-null int64
retweet_count     2348 non-null int64
favorite_count    2348 non-null int64
dtypes: int64(3)
memory usage: 73.4 KB

issues in status dataframe
1. Quality issues:
    - wrong data type for tweet ID
2. Tidiess issues

### Summary
Quality issues:
    1. Retweets: some of the tweets in this dataframe are retweet. as mentioned in the project detail, These retweets are not supposed to be included in the analysis.
    2. Unnecessary information: text, sources are not needed for analysis. Retweeted_status_id and retweeted_status_user_id, and retweetd_status_timestamp are not needed after data cleaning procedure. 
    3. Wrong data type for tweet id. Since no calculations will be applied on tweet ID, the tweet ID needs to be str instead of int64.
    4. The timestamp column has wrong data type. 
    5. Non-descriptive column headers: p1, p1_conf, p1_dog, p2, p2_dog, p3, p3_conf, p3_dog etc. 
    6. Some of the dog breeds has first letter capitalized and some are not. 
    7. Many ratings' denominator are not 10, even the numerator which greater than 10 is the feature of this twitter account, keep the denominator same is vital to later analysis. 
    8. Missing data: the image prediction part dataframe has 2075 rows while the status df has 2348 and the archive has 2356. Observations that has missing image predictions are considered as missing data.

Tidyness issues:
    1. Dog stages are not in one column, instead, they are divided into 4.
    2. One observation unit does not form a table. At least, retweet_count and favorite_count needs to be part of the archive dataframe to form a complete observation unit. 
    *3. archive dataframe, time and dtae should be two variables instead of 1.

# Data Cleaning

Issue #1 : retweets

#### Define:
Remove all tweet rows that has nonnull value in retweeted_status_id column in archive dataframe.

#### Code

In [12]:
# create a copy
archive_df_clean = archive_df.copy()

# only keep tweet whose retweeted_status_id is NAn
archive_df_clean = archive_df_clean[archive_df_clean['retweeted_status_id'].isnull()]

#### Test

In [13]:
archive_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2175 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2175 non-null object
source                        2175 non-null object
text                          2175 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2117 non-null object
rating_numerator              2175 non-null int64
rating_denominator            2175 non-null int64
name                          2175 non-null object
doggo                         2175 non-null object
floofer                       2175 non-null object
pupper                        2175 non-null object
puppo                         2175 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 305.9+ KB

Issue #2: Unnecessary information
#### Define:
Remove columns: expanded_urls, in_reply_to_status_id, in_reply_to_user_id, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, source. 

#### Code

In [14]:
# Drop unwanted columns
archive_df_clean = archive_df_clean.drop(columns=['expanded_urls', 'in_reply_to_status_id', 'in_reply_to_user_id', 'text', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp', 'source'])

#### Test

In [15]:
list(archive_df_clean)

['tweet_id',
 'timestamp',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

Issue #3: Wrong datatype for tweet ID
#### Define:
Change data type of Tweet ID to string

#### Code

In [16]:
# change the datatype of tweet_id
archive_df_clean['tweet_id'] = archive_df_clean['tweet_id'].astype(str)
# change the datatype of tweet_id column in status_df as well
status_df['tweet_id'] = status_df['tweet_id'].astype(str)

#### Test

In [17]:
archive_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 9 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: int64(2), object(7)
memory usage: 169.9+ KB

Issue #4: Wrong datatype for time stamp column
#### Define:
Remove columns: change the timestamp column to 

#### Code

In [18]:
#analysis the timestamp column
type(archive_df_clean['timestamp'])

archive_df_clean.head(100)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51 +0000,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24 +0000,12,10,Franklin,None,None,None,None
5,891087950875897856,2017-07-29 00:08:17 +0000,13,10,None,None,None,None,None
6,890971913173991426,2017-07-28 16:27:12 +0000,13,10,Jax,None,None,None,None
7,890729181411237888,2017-07-28 00:22:40 +0000,13,10,None,None,None,None,None
8,890609185150312448,2017-07-27 16:25:51 +0000,13,10,Zoey,None,None,None,None
9,890240255349198849,2017-07-26 15:59:51 +0000,14,10,Cassie,doggo,None,None,None
10,890006608113172480,2017-07-26 00:31:25 +0000,13,10,Koda,None,None,None,None
11,889880896479866881,2017-07-25 16:11:53 +0000,13,10,Bruno,None,None,None,None
12,889665388333682689,2017-07-25 01:55:32 +0000,13,10,None,None,None,None,puppo
13,889638837579907072,2017-07-25 00:10:02 +0000,12,10,Ted,None,None,None,None
14,889531135344209921,2017-07-24 17:02:04 +0000,13,10,Stuart,None,None,None,puppo
15,889278841981685760,2017-07-24 00:19:32 +0000,13,10,Oliver,None,None,None,None
16,888917238123831296,2017-07-23 00:22:39 +0000,12,10,Jim,None,None,None,None
17,888804989199671297,2017-07-22 16:56:37 +0000,13,10,Zeke,None,None,None,None
18,888554962724278272,2017-07-22 00:23:06 +0000,13,10,Ralphus,None,None,None,None
20,888078434458587136,2017-07-20 16:49:33 +0000,12,10,Gerald,None,None,None,None
21,887705289381826560,2017-07-19 16:06:48 +0000,13,10,Jeffrey,None,None,None,None
22,887517139158093824,2017-07-19 03:39:09 +0000,14,10,such,None,None,None,None
23,887473957103951883,2017-07-19 00:47:34 +0000,13,10,Canela,None,None,None,None
24,887343217045368832,2017-07-18 16:08:03 +0000,13,10,None,None,None,None,None
25,887101392804085760,2017-07-18 00:07:08 +0000,12,10,None,None,None,None,None
26,886983233522544640,2017-07-17 16:17:36 +0000,13,10,Maya,None,None,None,None
27,886736880519319552,2017-07-16 23:58:41 +0000,13,10,Mingus,None,None,None,None
28,886680336477933568,2017-07-16 20:14:00 +0000,13,10,Derek,None,None,None,None
29,886366144734445568,2017-07-15 23:25:31 +0000,12,10,Roscoe,None,None,pupper,None
30,886267009285017600,2017-07-15 16:51:35 +0000,12,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
76,878057613040115712,2017-06-23 01:10:23 +0000,14,10,Emmy,None,None,None,None
77,877736472329191424,2017-06-22 03:54:17 +0000,13,10,Aja,None,None,None,None
79,877556246731214848,2017-06-21 15:58:08 +0000,12,10,Penny,None,None,None,None
80,877316821321428993,2017-06-21 00:06:44 +0000,13,10,Dante,None,None,None,None
81,877201837425926144,2017-06-20 16:29:50 +0000,12,10,Nelly,None,None,None,None
82,876838120628539392,2017-06-19 16:24:33 +0000,12,10,Ginger,None,None,pupper,None
83,876537666061221889,2017-06-18 20:30:39 +0000,14,10,None,None,None,None,None
84,876484053909872640,2017-06-18 16:57:37 +0000,13,10,Benedict,None,None,None,None
85,876120275196170240,2017-06-17 16:52:05 +0000,13,10,Venti,None,None,None,None
86,875747767867523072,2017-06-16 16:11:53 +0000,13,10,Goose,None,None,None,None
87,875144289856114688,2017-06-15 00:13:52 +0000,13,10,Nugget,None,None,None,None
88,875097192612077568,2017-06-14 21:06:43 +0000,13,10,None,None,None,None,None
89,875021211251597312,2017-06-14 16:04:48 +0000,12,10,None,None,None,None,None
90,874680097055178752,2017-06-13 17:29:20 +0000,12,10,Cash,None,None,None,None
92,874296783580663808,2017-06-12 16:06:11 +0000,13,10,Jed,None,None,pupper,None
93,874057562936811520,2017-06-12 00:15:36 +0000,12,10,None,None,None,None,None
94,874012996292530176,2017-06-11 21:18:31 +0000,13,10,Sebastian,None,None,None,puppo
96,873580283840344065,2017-06-10 16:39:04 +0000,13,10,None,None,None,None,None
98,873213775632977920,2017-06-09 16:22:42 +0000,12,10,Sierra,None,None,pupper,None
99,872967104147763200,2017-06-09 00:02:31 +0000,12,10,None,doggo,None,None,None
100,872820683541237760,2017-06-08 14:20:41 +0000,13,10,None,None,None,None,None
102,872620804844003328,2017-06-08 01:06:27 +0000,13,10,Monkey,None,None,None,None
103,872486979161796608,2017-06-07 16:14:40 +0000,12,10,None,None,None,None,None
104,872261713294495745,2017-06-07 01:19:32 +0000,13,10,Harry,None,None,None,None
105,872122724285648897,2017-06-06 16:07:15 +0000,12,10,Kody,None,None,None,None
106,871879754684805121,2017-06-06 00:01:46 +0000,13,10,Lassie,None,None,None,None
107,871762521631449091,2017-06-05 16:15:56 +0000,12,10,Rover,None,None,pupper,None
108,871515927908634625,2017-06-04 23:56:03 +0000,12,10,Napolean,doggo,None,None,None
110,871102520638267392,2017-06-03 20:33:19 +0000,14,10,None,doggo,None,None,None
111,871032628920680449,2017-06-03 15:55:36 +0000,13,10,Boomer,None,None,None,None

In [19]:
# single out first 19 digits of the timestamp
archive_df_clean['timestamp'] = archive_df_clean.timestamp.str[:19]

archive_df_clean['timestamp'] = pd.to_datetime(archive_df_clean['timestamp'], format = "%Y-%m-%d %H:%M:%S")

In [21]:
archive_df_clean.head(100)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24,12,10,Franklin,None,None,None,None
5,891087950875897856,2017-07-29 00:08:17,13,10,None,None,None,None,None
6,890971913173991426,2017-07-28 16:27:12,13,10,Jax,None,None,None,None
7,890729181411237888,2017-07-28 00:22:40,13,10,None,None,None,None,None
8,890609185150312448,2017-07-27 16:25:51,13,10,Zoey,None,None,None,None
9,890240255349198849,2017-07-26 15:59:51,14,10,Cassie,doggo,None,None,None
10,890006608113172480,2017-07-26 00:31:25,13,10,Koda,None,None,None,None
11,889880896479866881,2017-07-25 16:11:53,13,10,Bruno,None,None,None,None
12,889665388333682689,2017-07-25 01:55:32,13,10,None,None,None,None,puppo
13,889638837579907072,2017-07-25 00:10:02,12,10,Ted,None,None,None,None
14,889531135344209921,2017-07-24 17:02:04,13,10,Stuart,None,None,None,puppo
15,889278841981685760,2017-07-24 00:19:32,13,10,Oliver,None,None,None,None
16,888917238123831296,2017-07-23 00:22:39,12,10,Jim,None,None,None,None
17,888804989199671297,2017-07-22 16:56:37,13,10,Zeke,None,None,None,None
18,888554962724278272,2017-07-22 00:23:06,13,10,Ralphus,None,None,None,None
20,888078434458587136,2017-07-20 16:49:33,12,10,Gerald,None,None,None,None
21,887705289381826560,2017-07-19 16:06:48,13,10,Jeffrey,None,None,None,None
22,887517139158093824,2017-07-19 03:39:09,14,10,such,None,None,None,None
23,887473957103951883,2017-07-19 00:47:34,13,10,Canela,None,None,None,None
24,887343217045368832,2017-07-18 16:08:03,13,10,None,None,None,None,None
25,887101392804085760,2017-07-18 00:07:08,12,10,None,None,None,None,None
26,886983233522544640,2017-07-17 16:17:36,13,10,Maya,None,None,None,None
27,886736880519319552,2017-07-16 23:58:41,13,10,Mingus,None,None,None,None
28,886680336477933568,2017-07-16 20:14:00,13,10,Derek,None,None,None,None
29,886366144734445568,2017-07-15 23:25:31,12,10,Roscoe,None,None,pupper,None
30,886267009285017600,2017-07-15 16:51:35,12,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
76,878057613040115712,2017-06-23 01:10:23,14,10,Emmy,None,None,None,None
77,877736472329191424,2017-06-22 03:54:17,13,10,Aja,None,None,None,None
79,877556246731214848,2017-06-21 15:58:08,12,10,Penny,None,None,None,None
80,877316821321428993,2017-06-21 00:06:44,13,10,Dante,None,None,None,None
81,877201837425926144,2017-06-20 16:29:50,12,10,Nelly,None,None,None,None
82,876838120628539392,2017-06-19 16:24:33,12,10,Ginger,None,None,pupper,None
83,876537666061221889,2017-06-18 20:30:39,14,10,None,None,None,None,None
84,876484053909872640,2017-06-18 16:57:37,13,10,Benedict,None,None,None,None
85,876120275196170240,2017-06-17 16:52:05,13,10,Venti,None,None,None,None
86,875747767867523072,2017-06-16 16:11:53,13,10,Goose,None,None,None,None
87,875144289856114688,2017-06-15 00:13:52,13,10,Nugget,None,None,None,None
88,875097192612077568,2017-06-14 21:06:43,13,10,None,None,None,None,None
89,875021211251597312,2017-06-14 16:04:48,12,10,None,None,None,None,None
90,874680097055178752,2017-06-13 17:29:20,12,10,Cash,None,None,None,None
92,874296783580663808,2017-06-12 16:06:11,13,10,Jed,None,None,pupper,None
93,874057562936811520,2017-06-12 00:15:36,12,10,None,None,None,None,None
94,874012996292530176,2017-06-11 21:18:31,13,10,Sebastian,None,None,None,puppo
96,873580283840344065,2017-06-10 16:39:04,13,10,None,None,None,None,None
98,873213775632977920,2017-06-09 16:22:42,12,10,Sierra,None,None,pupper,None
99,872967104147763200,2017-06-09 00:02:31,12,10,None,doggo,None,None,None
100,872820683541237760,2017-06-08 14:20:41,13,10,None,None,None,None,None
102,872620804844003328,2017-06-08 01:06:27,13,10,Monkey,None,None,None,None
103,872486979161796608,2017-06-07 16:14:40,12,10,None,None,None,None,None
104,872261713294495745,2017-06-07 01:19:32,13,10,Harry,None,None,None,None
105,872122724285648897,2017-06-06 16:07:15,12,10,Kody,None,None,None,None
106,871879754684805121,2017-06-06 00:01:46,13,10,Lassie,None,None,None,None
107,871762521631449091,2017-06-05 16:15:56,12,10,Rover,None,None,pupper,None
108,871515927908634625,2017-06-04 23:56:03,12,10,Napolean,doggo,None,None,None
110,871102520638267392,2017-06-03 20:33:19,14,10,None,doggo,None,None,None
111,871032628920680449,2017-06-03 15:55:36,13,10,Boomer,None,None,None,None

#### Test

In [22]:
archive_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 9 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 169.9+ KB

Issue #5: Non-Descriptive column header in image dataframe
#### Define:
change following column headers:

- p1 -> prediction_1
- p1_conf -> prediction_1_confidence
- p1_dog -> prediction_1_result
- p2 -> prediction_2
- p2_conf -> prediction_2_confidence
- p2_dog -> prediction_2_result
- p3 -> prediction_3
- p3_conf -> prediction_3_confidence
- p3_dog -> prediction_3_result
#### Code

In [23]:
image_df_clean = image_df.copy()
image_df_clean.rename(columns={'p1': 'prediction_1', 'p1_conf': 'prediction_1_confidence', 'p1_dog': 'prediction_1_result'}, inplace=True)
image_df_clean.rename(columns={'p2': 'prediction_2', 'p2_conf': 'prediction_2_confidence', 'p2_dog': 'prediction_2_result'}, inplace=True)
image_df_clean.rename(columns={'p3': 'prediction_3', 'p3_conf': 'prediction_3_confidence', 'p3_dog': 'prediction_3_result'}, inplace=True)

#### Test

In [24]:
image_df_clean.sample(100)

,tweet_id,jpg_url,img_num,prediction_1,prediction_1_confidence,prediction_1_result,prediction_2,prediction_2_confidence,prediction_2_result,prediction_3,prediction_3_confidence,prediction_3_result
525,676606785097199616,https://pbs.twimg.com/media/CWPKSGpWcAQN6mw.jpg,1,Loafer,0.202999,False,doormat,0.200411,False,malinois,0.142300,True
424,674063288070742018,https://pbs.twimg.com/media/CVrA-rIWEAANxwQ.jpg,1,ostrich,0.661176,False,bearskin,0.214879,False,swab,0.064456,False
622,680497766108381184,https://pbs.twimg.com/media/CXGdG0aWcAEbOO1.jpg,1,Chihuahua,0.538354,True,muzzle,0.084289,False,ski_mask,0.076690,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
1477,780543529827336192,https://pbs.twimg.com/media/CtUMLzRXgAAbZK5.jpg,1,golden_retriever,0.628312,True,Labrador_retriever,0.317365,True,Tibetan_mastiff,0.012260,True
1296,752173152931807232,https://pbs.twimg.com/media/CnBBfNuWcAAkOgO.jpg,1,Labrador_retriever,0.527659,True,German_shepherd,0.174765,True,Chihuahua,0.045525,True
735,687096057537363968,https://pbs.twimg.com/media/CYkON6CVAAAPXAc.jpg,1,Labrador_retriever,0.417107,True,Chesapeake_Bay_retriever,0.341730,True,German_short-haired_pointer,0.177702,True
696,684481074559381504,https://pbs.twimg.com/media/CX_D6AJWwAAnBIw.jpg,1,Chihuahua,0.937810,True,Pomeranian,0.020307,True,polecat,0.017357,False
414,674008982932058114,https://pbs.twimg.com/media/CVqPkVoU4AAkXA7.jpg,1,jigsaw_puzzle,0.970810,False,prayer_rug,0.011048,False,quill,0.008432,False
2005,877556246731214848,https://pbs.twimg.com/media/DC20wEcW0AAf59m.jpg,1,basset,0.995368,True,Welsh_springer_spaniel,0.001936,True,bathtub,0.000468,False
509,676101918813499392,https://pbs.twimg.com/media/CWH_FTgWIAAwOUy.jpg,1,Shih-Tzu,0.225848,True,Norfolk_terrier,0.186873,True,Irish_terrier,0.106987,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
160,668902994700836864,https://pbs.twimg.com/media/CUhruUgUAAAa8FQ.jpg,1,Brittany_spaniel,0.828425,True,Ibizan_hound,0.043082,True,Blenheim_spaniel,0.028004,True
1278,750101899009982464,https://pbs.twimg.com/media/Cmjlsh1XgAEvhq_.jpg,2,golden_retriever,0.316704,True,llama,0.174269,False,Labrador_retriever,0.147364,True
308,671536543010570240,https://pbs.twimg.com/media/CVHG6_AWwAEJf_u.jpg,1,pug,0.537652,True,bull_mastiff,0.220617,True,French_bulldog,0.068297,True
715,685547936038666240,https://pbs.twimg.com/media/CYOONfZW8AA7IOA.jpg,1,web_site,0.923987,False,oscilloscope,0.009712,False,hand-held_computer,0.008769,False
315,671735591348891648,https://pbs.twimg.com/media/CVJ79MzW4AEpTom.jpg,2,stone_wall,0.271121,False,Irish_wolfhound,0.063078,True,poncho,0.048226,False
135,668496999348633600,https://pbs.twimg.com/media/CUb6ebKWcAAJkd0.jpg,1,Staffordshire_bullterrier,0.412879,True,miniature_pinscher,0.161488,True,American_Staffordshire_terrier,0.112495,True
869,697616773278015490,https://pbs.twimg.com/media/Ca5uv7RVAAA_QEg.jpg,1,Lhasa,0.521931,True,Shih-Tzu,0.403451,True,Tibetan_terrier,0.039912,True
1449,776201521193218049,https://pbs.twimg.com/media/CsWfKadWEAAtmlS.jpg,1,Rottweiler,0.502228,True,black-and-tan_coonhound,0.154594,True,bloodhound,0.135176,True
973,706681918348251136,https://pbs.twimg.com/media/Cc6jcYRXIAAFuox.jpg,1,toy_poodle,0.717584,True,miniature_poodle,0.151433,True,Norwich_terrier,0.047087,True
1157,733482008106668032,https://pbs.twimg.com/media/Ci3Z_idUkAA8RUh.jpg,1,French_bulldog,0.619382,True,computer_keyboard,0.142274,False,mouse,0.058505,False
2032,883360690899218434,https://pbs.twimg.com/media/DEJT3FeXoAAtwUy.jpg,1,chow,0.987997,True,Tibetan_mastiff,0.007099,True,Newfoundland,0.002140,True
1346,759197388317847553,https://pbs.twimg.com/media/Cok1_sjXgAU3xpp.jpg,1,kuvasz,0.511341,True,golden_retriever,0.076899,True,white_wolf,0.063269,False
1554,793180763617361921,https://pbs.twimg.com/media/CwHxsdYVMAAqGCJ.jpg,1,Lakeland_terrier,0.266824,True,Irish_terrier,0.218783,True,Airedale,0.132960,True
1737,821886076407029760,https://pbs.twimg.com/media/C2ftAxnWIAEUdAR.jpg,1,golden_retriever,0.266238,True,cocker_spaniel,0.223325,True,Irish_setter,0.151631,True
344,672267570918129665,https://pbs.twimg.com/media/CVRfyZxWUAAFIQR.jpg,1,Irish_terrier,0.716932,True,miniature_pinscher,0.051234,True,Airedale,0.044381,True
800,691416866452082688,https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg,1,Lakeland_terrier,0.530104,True,Irish_terrier,0.197314,True,Airedale,0.082515,True
2034,883838122936631299,https://pbs.twimg.com/media/DEQGFgAXUAAEvfi.jpg,1,Doberman,0.610946,True,miniature_pinscher,0.299603,True,kelpie,0.063020,True
434,674372068062928900,https://pbs.twimg.com/media/CVvZ0KTWwAAdXKV.jpg,1,seashore,0.346126,False,American_alligator,0.106404,False,sandbar,0.049349,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1442,775364825476165632,https://pbs.twimg.com/media/CsKmMB2WAAAXcAy.jpg,3,beagle,0.571229,True,Chihuahua,0.175257,True,Pembroke,0.034306,True
208,669970042633789440,https://pbs.twimg.com/media/CUw2MV4XIAAHLO_.jpg,1,miniature_pinscher,0.734744,True,Rottweiler,0.131066,True,Doberman,0.081509,True
931,703079050210877440,https://pbs.twimg.com/media/CcHWqQCW8AEb0ZH.jpg,2,Pembroke,0.778503,True,Shetland_sheepdog,0.093834,True,Cardigan,0.060296,True
793,690735892932222976,https://pbs.twimg.com/media/CZX8nyeVAAEstKM.jpg,1,golden_retriever,0.883229,True,Labrador_retriever,0.109635,True,kuvasz,0.002795,True
1705,817423860136083457,https://pbs.twimg.com/ext_tw_video_thumb/81742...,1,ice_bear,0.336200,False,Samoyed,0.201358,True,Eskimo_dog,0.186789,True
361,672828477930868736,https://pbs.twimg.com/media/CVZd7ttWcAEs2wP.jpg,1,sandbar,0.118154,False,stingray,0.075915,False,seashore,0.075125,False
1326,757354760399941633,https://pbs.twimg.com/media/CoKqIndWgAAattd.jpg,1,Italian_greyhound,0.914667,True,whippet,0.047774,True,ice_lolly,0.015477,False
998,708469915515297792,https://pbs.twimg.com/media/CdT9n7mW0AQcpZU.jpg,1,Chihuahua,0.748163,True,toy_terrier,0.127717,True,Pembroke,0.042141,True
1102,721001180231503872,https://pbs.twimg.com/media/CgGCvxAUkAAx55r.jpg,1,Samoyed,0.950053,True,washbasin,0.006321,False,tub,0.006243,False
1282,750383411068534784,https://pbs.twimg.com/media/CmnluwbXEAAqnkw.jpg,1,Border_collie,0.672791,True,collie,0.270188,True,papillon,0.034504,True
1813,833479644947025920,https://pbs.twimg.com/media/C5EdT4jWEAARv2C.jpg,3,golden_retriever,0.727039,True,cocker_spaniel,0.071140,True,Tibetan_mastiff,0.048694,True
1002,708810915978854401,https://pbs.twimg.com/media/CdYzwuYUIAAHPkB.jpg,2,golden_retriever,0.976139,True,Labrador_retriever,0.016301,True,Norfolk_terrier,0.001871,True
1814,833722901757046785,https://pbs.twimg.com/media/C5H6jmgW8AAevqq.jpg,1,West_Highland_white_terrier,0.918144,True,Maltese_dog,0.025721,True,Lakeland_terrier,0.020211,True
918,701601587219795968,https://pbs.twimg.com/media/CbyW7B0W8AIX8kX.jpg,1,Chihuahua,0.993661,True,Pembroke,0.001505,True,toy_terrier,0.000867,True
1933,859607811541651456,https://pbs.twimg.com/media/C-3wvtxXcAUTuBE.jpg,1,golden_retriever,0.895529,True,Irish_setter,0.024099,True,Labrador_retriever,0.019285,True
1012,709519240576036864,https://pbs.twimg.com/media/Cdi3-f7W8AUOm9T.jpg,1,cocker_spaniel,0.414982,True,Newfoundland,0.225482,True,flat-coated_retriever,0.196789,True
658,682389078323662849,https://pbs.twimg.com/media/CXhVKtvW8AAyiyK.jpg,1,curly-coated_retriever,0.482288,True,flat-coated_retriever,0.315286,True,Great_Dane,0.062179,True
2010,878776093423087618,https://pbs.twimg.com/media/DDIKMXzW0AEibje.jpg,2,Italian_greyhound,0.734684,True,whippet,0.150487,True,Ibizan_hound,0.039725,True
1018,710117014656950272,https://pbs.twimg.com/media/CdrXp9dWoAAcRfn.jpg,2,toy_poodle,0.802092,True,miniature_poodle,0.111647,True,cocker_spaniel,0.062866,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
853,696405997980676096,https://pbs.twimg.com/media/Caohi_hWcAAQCni.jpg,1,borzoi,0.132845,True,Walker_hound,0.086005,True,Great_Pyrenees,0.065582,True
781,689999384604450816,https://pbs.twimg.com/media/CZNexghWAAAYnT-.jpg,1,standard_poodle,0.444499,True,English_springer,0.129830,True,pug,0.073806,True
1797,831552930092285952,https://pbs.twimg.com/media/C4pE-I0WQAABveu.jpg,1,Chihuahua,0.257415,True,Pembroke,0.161442,True,French_bulldog,0.092143,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
1901,851591660324737024,https://pbs.twimg.com/media/C9F2FG5WAAAJ0iN.jpg,1,Cardigan,0.394507,True,Chihuahua,0.077254,True,French_bulldog,0.076559,True
911,700796979434098688,https://pbs.twimg.com/media/Cbm7IeUXIAA6Lc-.jpg,1,tailed_frog,0.652712,False,tree_frog,0.280212,False,bullfrog,0.040177,False
1465,778624900596654080,https://pbs.twimg.com/media/Cs47N3eWcAEmgiW.jpg,2,Airedale,0.786089,True,Irish_terrier,0.121488,True,Lakeland_terrier,0.014603,True
1340,758740312047005698,https://pbs.twimg.com/media/CoeWSJcUIAAv3Bq.jpg,1,Chesapeake_Bay_retriever,0.848514,True,Labrador_retriever,0.110054,True,curly-coated_retriever,0.025201,True
278,670995969505435648,https://pbs.twimg.com/media/CU_bRIEWcAAUVC7.jpg,1,redbone,0.866221,True,beagle,0.061194,True,Rhodesian_ridgeback,0.024285,True
1661,811744202451197953,https://pbs.twimg.com/media/C0PlCQjXAAA9TIh.jpg,1,Pekinese,0.386082,True,Labrador_retriever,0.202862,True,golden_retriever,0.170487,True

Issue #6: the first letter of all dog names are not all capitalized.
#### Define:
capitalize the first letter of all dog breeds

#### Code

In [25]:
image_df_clean.prediction_1 = image_df_clean.prediction_1.str.title()
image_df_clean.prediction_2 = image_df_clean.prediction_2.str.title()
image_df_clean.prediction_3 = image_df_clean.prediction_3.str.title()

#### Test

In [26]:
image_df_clean.sample(100)

,tweet_id,jpg_url,img_num,prediction_1,prediction_1_confidence,prediction_1_result,prediction_2,prediction_2_confidence,prediction_2_result,prediction_3,prediction_3_confidence,prediction_3_result
1289,751251247299190784,https://pbs.twimg.com/ext_tw_video_thumb/75125...,1,Walker_Hound,0.178852,True,German_Short-Haired_Pointer,0.115752,True,English_Foxhound,0.113796,True
754,688211956440801280,https://pbs.twimg.com/ext_tw_video_thumb/68821...,1,Bannister,0.369449,False,Four-Poster,0.105307,False,Shoji,0.098767,False
1001,708738143638450176,https://pbs.twimg.com/media/CdXxlFPWwAABaOv.jpg,1,Pomeranian,0.933457,True,Samoyed,0.057221,True,West_Highland_White_Terrier,0.000904,True
884,698953797952008193,https://pbs.twimg.com/media/CbMuxV5WEAAIBjy.jpg,1,Italian_Greyhound,0.382378,True,Redbone,0.102255,True,Shower_Cap,0.076834,False
520,676533798876651520,https://pbs.twimg.com/media/CWOH4s9U8AEtkmQ.jpg,1,Chow,0.265274,True,Ice_Bear,0.167614,False,Fur_Coat,0.117506,False
1432,773308824254029826,https://pbs.twimg.com/media/CrtYRMEWIAAUkCl.jpg,1,Shopping_Cart,0.572349,False,Labrador_Retriever,0.151406,True,Shopping_Basket,0.107102,False
1797,831552930092285952,https://pbs.twimg.com/media/C4pE-I0WQAABveu.jpg,1,Chihuahua,0.257415,True,Pembroke,0.161442,True,French_Bulldog,0.092143,True
976,707021089608753152,https://pbs.twimg.com/media/Cc_XtkRW8AEE7Fn.jpg,2,Cocker_Spaniel,0.559658,True,Golden_Retriever,0.314673,True,Pekinese,0.066672,True
733,686749460672679938,https://pbs.twimg.com/media/CYfS75fWAAAllde.jpg,1,Cheeseburger,0.643808,False,Hotdog,0.201378,False,Bagel,0.063880,False
145,668625577880875008,https://pbs.twimg.com/media/CUdvambWoAA007z.jpg,1,Ox,0.071536,False,Groenendael,0.054455,True,Angora,0.045028,False
1898,850753642995093505,https://pbs.twimg.com/media/C8576jrW0AEYWFy.jpg,1,Pug,0.996952,True,Bull_Mastiff,0.000996,True,French_Bulldog,0.000883,True
1488,782305867769217024,https://pbs.twimg.com/media/CttPBt0WIAAcsDE.jpg,1,Briard,0.504427,True,Soft-Coated_Wheaten_Terrier,0.390678,True,Lhasa,0.034596,True
606,679877062409191424,https://pbs.twimg.com/media/CW9olDsUsAA0XSf.jpg,1,Hog,0.809466,False,Hay,0.060178,False,Lumbermill,0.016483,False
1678,813202720496779264,https://pbs.twimg.com/media/C0kTjqIXgAAqpRi.jpg,1,Cocker_Spaniel,0.701852,True,Golden_Retriever,0.120345,True,Labrador_Retriever,0.036320,True
552,677565715327688705,https://pbs.twimg.com/media/CWcybBmWcAAigAQ.jpg,1,Basset,0.397295,True,Welsh_Springer_Spaniel,0.199554,True,Purse,0.105641,False
1920,856282028240666624,https://pbs.twimg.com/media/C-If9ZwXoAAfDX2.jpg,4,Chihuahua,0.876543,True,Italian_Greyhound,0.032962,True,Cardigan,0.020776,True
2010,878776093423087618,https://pbs.twimg.com/media/DDIKMXzW0AEibje.jpg,2,Italian_Greyhound,0.734684,True,Whippet,0.150487,True,Ibizan_Hound,0.039725,True
1505,785264754247995392,https://pbs.twimg.com/media/CuXSHNnWcAIWEwn.jpg,1,Teddy,0.674893,False,Cradle,0.056740,False,Chow,0.056137,True
1167,735648611367784448,https://pbs.twimg.com/media/CjWMezdW0AErwU3.jpg,1,Pembroke,0.462594,True,Seat_Belt,0.261854,False,Cardigan,0.151698,True
1674,813142292504645637,https://pbs.twimg.com/media/C0jcmOKVQAAd0VR.jpg,3,Beagle,0.848735,True,Ibizan_Hound,0.044603,True,Italian_Greyhound,0.018611,True
1043,712668654853337088,https://pbs.twimg.com/media/CePoVTyWsAQEz1g.jpg,1,Labrador_Retriever,0.829058,True,Golden_Retriever,0.038664,True,Chihuahua,0.026221,True
54,667044094246576128,https://pbs.twimg.com/media/CUHREBXXAAE6A9b.jpg,1,Golden_Retriever,0.765266,True,Labrador_Retriever,0.206694,True,Seat_Belt,0.010667,False
1105,722974582966214656,https://pbs.twimg.com/media/CgiFjIpWgAA4wVp.jpg,1,Great_Dane,0.246762,True,Greater_Swiss_Mountain_Dog,0.126131,True,Weimaraner,0.085297,True
1172,736736130620620800,https://pbs.twimg.com/media/CjlpmZaUgAED54W.jpg,1,Schipperke,0.545502,True,Groenendael,0.298622,True,Labrador_Retriever,0.030986,True
1839,837482249356513284,https://pbs.twimg.com/media/C59VqMUXEAAzldG.jpg,2,Birdhouse,0.541196,False,Can_Opener,0.121094,False,Carton,0.056137,False
1675,813157409116065792,https://pbs.twimg.com/media/C0jqVVOXUAAGJ0G.jpg,2,Siamese_Cat,0.843911,False,Pembroke,0.070567,True,Cardigan,0.041916,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature_Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
1368,761750502866649088,https://pbs.twimg.com/media/CYLDikFWEAAIy1y.jpg,1,Golden_Retriever,0.586937,True,Labrador_Retriever,0.398260,True,Kuvasz,0.005410,True
396,673656262056419329,https://pbs.twimg.com/media/CVlOy3pW4AQ9H1K.jpg,1,Bull_Mastiff,0.700625,True,Rhodesian_Ridgeback,0.094698,True,Brabancon_Griffon,0.057559,True
1428,772826264096874500,https://pbs.twimg.com/media/CrmhYYIXEAEcyYY.jpg,1,Basset,0.915351,True,Walker_Hound,0.072416,True,Beagle,0.008229,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1733,821407182352777218,https://pbs.twimg.com/ext_tw_video_thumb/82140...,1,Irish_Setter,0.505496,True,Vizsla,0.168747,True,Chesapeake_Bay_Retriever,0.111311,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_Setter,0.503672,True,Yorkshire_Terrier,0.174201,True,Pekinese,0.109454,True
548,677334615166730240,https://pbs.twimg.com/media/CWZgPPUWUAAUOvu.jpg,2,Lakeland_Terrier,0.859392,True,Airedale,0.067292,True,Irish_Water_Spaniel,0.049531,True
728,686386521809772549,https://pbs.twimg.com/media/CYaI5aaW8AE8Uyk.jpg,1,Yorkshire_Terrier,0.477704,True,Silky_Terrier,0.171673,True,Australian_Terrier,0.088334,True
729,686606069955735556,https://pbs.twimg.com/media/CYdQktMWsAEI29_.jpg,1,Labrador_Retriever,0.320012,True,Ibizan_Hound,0.208172,True,Saluki,0.078975,True
911,700796979434098688,https://pbs.twimg.com/media/Cbm7IeUXIAA6Lc-.jpg,1,Tailed_Frog,0.652712,False,Tree_Frog,0.280212,False,Bullfrog,0.040177,False
61,667152164079423490,https://pbs.twimg.com/media/CUIzWk_UwAAfUNq.jpg,1,Toy_Poodle,0.535411,True,Pomeranian,0.087544,True,Miniature_Poodle,0.062050,True
847,695409464418041856,https://pbs.twimg.com/media/CaaXN5LUYAEzAh-.jpg,1,Pug,0.997445,True,Bull_Mastiff,0.001749,True,Pekinese,0.000304,True
1695,816336735214911488,https://pbs.twimg.com/media/C1Q17WdWEAAjKFO.jpg,1,Labrador_Retriever,0.919330,True,Kuvasz,0.049480,True,Golden_Retriever,0.011934,True
841,694905863685980160,https://pbs.twimg.com/media/CaTNMUgUYAAB6vs.jpg,1,Bow_Tie,0.449268,False,Fur_Coat,0.139099,False,Black-Footed_Ferret,0.082232,False
578,678755239630127104,https://pbs.twimg.com/media/CWtsSQAUkAAnWws.jpg,1,Malamute,0.606654,True,Border_Collie,0.193831,True,Collie,0.048378,True
1569,794355576146903043,https://pbs.twimg.com/media/CvJCabcWgAIoUxW.jpg,1,Cocker_Spaniel,0.500509,True,Golden_Retriever,0.272734,True,Jigsaw_Puzzle,0.041476,False
1327,757393109802180609,https://pbs.twimg.com/media/CoLNAq6WAAAkmdJ.jpg,2,Labrador_Retriever,0.787125,True,Chesapeake_Bay_Retriever,0.112676,True,Rottweiler,0.048039,True
905,700151421916807169,https://pbs.twimg.com/media/CbdwATgWwAABGID.jpg,1,Tennis_Ball,0.328236,False,Italian_Greyhound,0.176838,True,Staffordshire_Bullterrier,0.134080,True
422,674051556661161984,https://pbs.twimg.com/media/CVq2UHwWEAAduMw.jpg,1,Shih-Tzu,0.179777,True,Badger,0.160580,False,Three-Toed_Sloth,0.132154,False
249,670679630144274432,https://pbs.twimg.com/media/CU67jGSUkAAk_1Y.jpg,1,Ibizan_Hound,0.342734,True,Brittany_Spaniel,0.229065,True,Chihuahua,0.104029,True
654,682059653698686977,https://pbs.twimg.com/media/CXcpovWWMAAMcfv.jpg,2,Jigsaw_Puzzle,0.995873,False,Siamese_Cat,0.000781,False,Pizza,0.000432,False
2041,885311592912609280,https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg,1,Labrador_Retriever,0.908703,True,Seat_Belt,0.057091,False,Pug,0.011933,True
939,703769065844768768,https://pbs.twimg.com/media/CcRKOzyXEAQO_HN.jpg,2,Boxer,0.838994,True,Greater_Swiss_Mountain_Dog,0.088800,True,Bull_Mastiff,0.031684,True
1008,709207347839836162,https://pbs.twimg.com/media/CdecUSzUIAAHCvg.jpg,1,Chihuahua,0.948323,True,Italian_Greyhound,0.017730,True,Quilt,0.016688,False
707,685169283572338688,https://pbs.twimg.com/media/CYI10WhWsAAjzii.jpg,1,Bernese_Mountain_Dog,0.975096,True,Appenzeller,0.014578,True,Entlebucher,0.005943,True
1987,872620804844003328,https://pbs.twimg.com/media/DBwr_hzXkAEnZBW.jpg,1,Cocker_Spaniel,0.513191,True,Sussex_Spaniel,0.159088,True,Standard_Poodle,0.149509,True
1893,849412302885593088,https://pbs.twimg.com/media/C8m3-iQVoAAETnF.jpg,4,Schipperke,0.907559,True,Crossword_Puzzle,0.017934,False,Chihuahua,0.016191,True
64,667171260800061440,https://pbs.twimg.com/media/CUJEuRIXIAAPDLt.jpg,1,Giant_Schnauzer,0.841265,True,Lakeland_Terrier,0.052744,True,Irish_Water_Spaniel,0.034402,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,Papillon,0.068957,True
982,707387676719185920,https://pbs.twimg.com/media/CdElVm7XEAADP6o.jpg,1,Chihuahua,0.888468,True,Italian_Greyhound,0.088635,True,Toy_Terrier,0.015938,True
665,682750546109968385,https://pbs.twimg.com/media/CXmd_bsWkAEEXck.jpg,1,English_Setter,0.947198,True,English_Springer,0.031128,True,Brittany_Spaniel,0.005512,True
146,668627278264475648,https://pbs.twimg.com/media/CUdw9thWsAA4mB9.jpg,1,French_Bulldog,0.965403,True,Pug,0.008604,True,Boston_Bull,0.008004,True
540,676975532580409345,https://pbs.twimg.com/media/CWUZpydWcAAeipD.jpg,1,Malamute,0.363257,True,Siberian_Husky,0.245862,True,Eskimo_Dog,0.125547,True
1765,826598365270007810,https://pbs.twimg.com/media/C3iq0EEXUAAdBYC.jpg,1,French_Bulldog,0.628119,True,Siamese_Cat,0.117397,False,Cougar,0.082765,False

Issue #7: Many ratings' denominator are not 10
#### Define:
Scale tweets who's denominators more than 10 or less than 10 to 10

#### Code

In [27]:
archive_df_clean.info()
archive_df_clean.rating_denominator.value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 9 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 169.9+ KB

10     2153
50        3
80        2
11        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [36]:
for index, row in archive_df_clean.iterrows():
    if row['rating_denominator'] == 0:
        new_denominator = 10
        archive_df_clean.set_value(index, 'rating_denominator', new_denominator)
    elif row['rating_denominator'] != 10:
        print(row['tweet_id'])
        new_denominator = 10
        new_numerator = round((row['rating_numerator']/row['rating_denominator'])*10, 1)
        print(row['rating_denominator'])
        print(new_denominator)
        print(row['rating_numerator'])
        print(new_numerator)
        archive_df_clean.set_value(index, 'rating_denominator', new_denominator)
        archive_df_clean.set_value(index, 'rating_numerator', new_numerator)
#     else:
#         new_denominator = rating_denominator
#         new_numerator = rating_numerator

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

#### Test

In [37]:
archive_df_clean.rating_denominator.value_counts()

10    2175
Name: rating_denominator, dtype: int64

Issue #8: Missing data
#### Define:
inner join 3 dataframe and make sure a tweet record has information in all 3 dataframe. 

#### Code#

In [ ]:
archive_df_clean.info()
image_df_clean.info()
status_df.info()
archive_df_clean_1 = archive_df_clean.copy()
type(archive_df_clean)

In [ ]:
# status_df_clean = status_df.copy()

# short_ID_List = image_df_clean['tweet_id']
# short_ID_List = image_df_clean.astype(str)

# archive_df_clean = archive_df_clean[archive_df_clean['tweet_id'].isin(short_ID_List)]
# status_df_clean = status_df_clean[status_df_clean["tweet_id"].isin(short_ID_List)]

In [ ]:


archive_df_clean.info()
status_df_clean.info()
#type(short_ID_List['tweet_id'][1])
#type(status_df_clean["tweet_id"][1])
#type(archive_df_clean['tweet_id'][1])

tidyness issue #2: dog stages not in on column
#### Define
combine doggo, floofer, pupper and puppo columns into stage column

#### Code

In [ ]:
#archive_df_clean['stage'] = archive_df_clean['doggo'] + archive_df_clean['floofer'] +  archive_df_clean['pupper'] + archive_df_clean['puppo'] 

for index, row in archive_df_clean.iterrows():
    if row["doggo"]  == "doggo" or row["floofer"] == "floofer" or row["pupper"] == "pupper" or row["puppo"] == ["puppo"]:
        archive_df_clean

#### Test

In [38]:
archive_df_clean.sample(100)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
724,782747134529531904,2016-10-03 01:00:34,11,10,Deacon,doggo,None,None,None
62,880095782870896641,2017-06-28 16:09:20,11,10,None,None,None,None,None
83,876537666061221889,2017-06-18 20:30:39,14,10,None,None,None,None,None
2210,668620235289837568,2015-11-23 02:41:01,10,10,Kallie,None,None,None,None
1731,679844490799091713,2015-12-24 02:02:12,10,10,Willie,None,None,None,None
45,883482846933004288,2017-07-08 00:28:19,5,10,Bella,None,None,None,None
1133,728751179681943552,2016-05-07 00:59:55,10,10,Flurpson,None,None,None,None
1322,706291001778950144,2016-03-06 01:31:11,11,10,None,None,None,None,None
1854,675534494439489536,2015-12-12 04:35:48,11,10,a,None,None,None,None
1464,694356675654983680,2016-02-02 03:08:26,10,10,None,None,None,pupper,None
674,789599242079838210,2016-10-21 22:48:24,12,10,Brownie,None,None,None,None
141,864873206498414592,2017-05-17 16:00:15,14,10,None,None,None,None,None
1210,715680795826982913,2016-03-31 23:22:53,12,10,Zeus,None,None,None,None
916,756998049151549440,2016-07-23 23:42:53,11,10,Oliver,None,None,None,None
703,785927819176054784,2016-10-11 19:39:28,12,10,Lucy,None,None,None,None
722,783085703974514689,2016-10-03 23:25:55,11,10,Earl,None,None,None,None
1701,680940246314430465,2015-12-27 02:36:20,4,10,Alice,None,None,None,None
2027,671874878652489728,2015-12-02 02:13:48,10,10,Mia,None,None,None,None
1034,745057283344719872,2016-06-21 00:54:33,12,10,Oliver,None,None,None,None
1099,735991953473572864,2016-05-27 00:32:10,11,10,Maxaroni,None,None,None,None
1416,698635131305795584,2016-02-13 22:29:29,12,10,None,None,None,None,None
878,760656994973933572,2016-08-03 02:02:14,11,10,Rose,None,None,None,None
226,848690551926992896,2017-04-03 00:16:10,12,10,None,None,None,None,None
1318,706538006853918722,2016-03-06 17:52:42,11,10,Oliver,None,None,None,None
912,757596066325864448,2016-07-25 15:19:12,4,10,None,None,None,None,None
1877,675109292475830276,2015-12-11 00:26:12,9,10,a,None,None,None,None
1870,675149409102012420,2015-12-11 03:05:37,12,10,None,None,None,None,None
990,748705597323898880,2016-07-01 02:31:39,13,10,None,None,None,None,None
1272,709225125749587968,2016-03-14 03:50:21,11,10,Walker,None,None,None,None
1257,710296729921429505,2016-03-17 02:48:31,12,10,Oshie,None,None,None,None
...,...,...,...,...,...,...,...,...,...
106,871879754684805121,2017-06-06 00:01:46,13,10,Lassie,None,None,None,None
482,815390420867969024,2017-01-01 02:53:20,13,10,None,None,None,None,None
30,886267009285017600,2017-07-15 16:51:35,12,10,None,None,None,None,None
2346,666058600524156928,2015-11-16 01:01:59,8,10,the,None,None,None,None
1993,672609152938721280,2015-12-04 02:51:33,9,10,Caryl,None,None,None,None
1779,677716515794329600,2015-12-18 05:06:23,12,10,None,None,None,None,None
13,889638837579907072,2017-07-25 00:10:02,12,10,Ted,None,None,None,None
1225,714141408463036416,2016-03-27 17:25:54,10,10,None,None,None,None,None
848,766069199026450432,2016-08-18 00:28:24,12,10,Juno,None,None,None,None
1157,724405726123311104,2016-04-25 01:12:38,10,10,Ashleigh,None,None,pupper,None
838,767500508068192258,2016-08-21 23:15:55,12,10,Louie,None,None,None,None
348,831670449226514432,2017-02-15 01:04:21,13,10,Daisy,None,None,None,None
110,871102520638267392,2017-06-03 20:33:19,14,10,None,doggo,None,None,None
1952,673680198160809984,2015-12-07 01:47:30,13,10,Shnuggles,None,None,None,None
262,842765311967449089,2017-03-17 15:51:22,12,10,Indie,None,None,None,None
1352,703774238772166656,2016-02-28 02:50:28,10,10,None,None,None,None,None
806,772102971039580160,2016-09-03 16:04:27,11,10,Penny,None,None,None,None
1984,672902681409806336,2015-12-04 22:17:55,9,10,Jimison,None,None,None,None
1138,728035342121635841,2016-05-05 01:35:26,12,10,all,None,None,pupper,None
2021,672082170312290304,2015-12-02 15:57:30,11,10,Patch,None,None,None,None
1801,676957860086095872,2015-12-16 02:51:45,10,10,None,None,None,None,None
1190,718234618122661888,2016-04-08 00:30:51,11,10,Suki,None,None,None,None
364,829141528400556032,2017-02-08 01:35:19,12,10,Malcolm,None,None,None,None
1452,695767669421768709,2016-02-06 00:35:13,13,10,None,None,None,None,None
508,812503143955202048,2016-12-24 03:40:19,13,10,None,None,None,None,None
1624,684880619965411328,2016-01-06 23:33:58,5,10,None,None,None,pupper,None
445,819227688460238848,2017-01-11 17:01:16,12,10,Finn,None,None,None,None
2105,670474236058800128,2015-11-28 05:28:09,10,10,None,None,None,None,None
1996,672591762242805761,2015-12-04 01:42:26,10,10,Taz,None,None,None,None
616,796484825502875648,2016-11-09 22:49:15,12,10,None,doggo,None,None,None

# Analysis and Visualization

In [ ]:
import matplotlib as mp

# reference

1. multiple json in txt line by line: https://stackoverflow.com/questions/17055117/python-json-dump-append-to-txt-with-each-variable-on-new-line
2. load json from txt line by line: https://stackoverflow.com/questions/21533894/how-to-read-line-delimited-json-from-large-file-line-by-line
3. create dataframe from json file: https://stackoverflow.com/questions/47925828/how-to-create-a-pandas-dataframe-using-tweepy
4. keep only rows who has NaN in a certain column: https://stackoverflow.com/questions/25430995/keeping-nan-values-and-dropping-nonmissing-values
5. str to datetime: https://stackoverflow.com/questions/17134716/convert-dataframe-column-type-from-string-to-datetime
6. iterate rows to change value https://stackoverflow.com/questions/23330654/update-a-dataframe-in-pandas-while-iterating-row-by-row
7. use isin
8. combine to different columns into 1: