# Data Gathering

### programmatically downloaded using the Requests library

In [3]:
#import libraries
import requests
import pandas as pd
import json
import datetime as dt
import matplotlib.pyplot as plt

In [ ]:
#store file to file handler
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
code = r.status_code
print(code)
#save downloaded file to local folder
open('image-predictions.tsv', 'wb').write(r.content)

### Download tweet ID, retweet count, and favorite count using Tweepy API

In [ ]:
#read twitte IDs

#read the twitter-archive-enhanced.csv file in to dataframe
df_1 = pd.read_csv('twitter-archive-enhanced.csv')
df_1
#convert the first column of the datafram(tweet id) to a list
IDlist = df_1['tweet_id'].tolist()
IDlist

In [ ]:
#pull twitter status json from twitter API and store them into a list
import tweepy

# key and token omitted for privacy
consumer_key = '*'
consumer_secret = '*'
access_token = '*'
access_secret = '*'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit  = True, wait_on_rate_limit_notify = True)

tweet_list = []

for tid in IDlist:
    try:
        tweet = api.get_status(tid, tweet_mode='extended')
        tweet_list.append(tweet._json)
    except:
        print('tweet ' + str(tid) + "doesn't" exist')

In [ ]:
#check if all tweet status has been downloaded
len(tweet_list)

In [ ]:
# write json to txt file

# type(tweet_json)
with open('tweet_json.txt', 'w') as outfile:
    for tweet_json in tweet_list:
        json.dump(tweet_json, outfile)
        outfile.write('\n') #add a newline character at the end of each json

In [5]:
# read json from text

tweet_df_raw = pd.read_json('tweet_json.txt', lines = 'True')
tweet_df = tweet_df_raw[['id', 'retweet_count', 'favorite_count']]

In [38]:
#display twitter archive
archive_df.head(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [40]:
#display image data
image_df.head(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [42]:
#display status dataframe from tweepy API
tweet_df_raw.head(5)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,possibly_sensitive_appealable,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",39245,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,0.0,NaN,NaN,NaN,8758,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",33609,False,This is Tilly. She's just checking pup on you....,NaN,...,0.0,NaN,NaN,NaN,6422,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",25317,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,...,0.0,NaN,NaN,NaN,4265,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",42611,False,This is Darla. She commenced a snooze mid meal...,NaN,...,0.0,NaN,NaN,NaN,8849,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",40774,False,This is Franklin. He would like you to stop ca...,NaN,...,0.0,NaN,NaN,NaN,9631,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

# Data Assessing

In [7]:
#load 3 dataframes from different sources
archive_df = pd.read_csv('twitter-archive-enhanced.csv')
image_df = pd.read_csv('image-predictions.tsv', sep='\t')
status_df = tweet_df.copy()
status_df.rename(columns = {"id": "tweet_id"}, inplace = True)

In [9]:
archive_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

pandas.core.series.Series

In [44]:
archive_df.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
422,821813639212650496,NaN,NaN,2017-01-18 20:16:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Hercules. He can have what...,7.806013e+17,4.196984e+09,2016-09-27 02:53:48 +0000,https://twitter.com/dog_rates/status/780601303...,12,10,Hercules,None,None,None,None
1386,700518061187723268,NaN,NaN,2016-02-19 03:11:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Vincent. He's the man your girl is wit...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/700518061...,10,10,Vincent,None,None,None,None
2020,672095186491711488,NaN,NaN,2015-12-02 16:49:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tuco. That's the toast that killed his...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672095186...,9,10,Tuco,None,None,None,None
346,831926988323639298,8.319030e+17,20683724.0,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1353,703769065844768768,NaN,NaN,2016-02-28 02:29:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you're trying to watch your favorite tv s...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/703769065...,10,10,None,None,None,None,None

In [10]:
archive_df.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

issues in archive dataframe
1. Quality issues:
    - Retweets: some of the tweets in this dataframe are retweet, as mentioned in the project detail. These retweet are not supposed to be included in the analysis
    - Unnecessary information: text, sources are not needed for analysis. Retweeted_status_id and retweeted_status_user_id, and retweetd_status_timestamp are not needed after data cleaning procedure. 
    - The rating_numerator and rating_denominator can be combined into one column in decimal form.
    - Wrong data type for tweet id. Since no calculations will be applied on tweet ID, the tweet ID needs to be str instead of int64.
    - The timestamp column has wrong data type. 
2. Tidiess issues
    - Dog stages are not in one column, instead, they are divided into 4.
    - Date and time should be two variables for the purpose of analysis.

In [11]:
image_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

golden_retriever             150
Labrador_retriever           100
Pembroke                      89
Chihuahua                     83
pug                           57
chow                          44
Samoyed                       43
toy_poodle                    39
Pomeranian                    38
cocker_spaniel                30
malamute                      30
French_bulldog                26
Chesapeake_Bay_retriever      23
miniature_pinscher            23
seat_belt                     22
Siberian_husky                20
German_shepherd               20
Staffordshire_bullterrier     20
web_site                      19
Cardigan                      19
Shetland_sheepdog             18
Eskimo_dog                    18
Maltese_dog                   18
teddy                         18
beagle                        18
Rottweiler                    17
Lakeland_terrier              17
Shih-Tzu                      17
Italian_greyhound             16
kuvasz                        16
                            ...
sundial                        1
sulphur-crested_cockatoo       1
teapot                         1
toilet_seat                    1
banana                         1
cougar                         1
American_black_bear            1
soccer_ball                    1
sea_urchin                     1
revolver                       1
maillot                        1
quilt                          1
bakery                         1
carousel                       1
orange                         1
washer                         1
marmot                         1
carton                         1
remote_control                 1
military_uniform               1
grey_fox                       1
padlock                        1
pitcher                        1
cowboy_boot                    1
Madagascar_cat                 1
snowmobile                     1
binoculars                     1
cup                            1
restaurant                     1
stove                          1
Name: p1, Length: 378, dtype: int64

In [45]:
image_df.p1.value_counts()

golden_retriever             150
Labrador_retriever           100
Pembroke                      89
Chihuahua                     83
pug                           57
chow                          44
Samoyed                       43
toy_poodle                    39
Pomeranian                    38
cocker_spaniel                30
malamute                      30
French_bulldog                26
Chesapeake_Bay_retriever      23
miniature_pinscher            23
seat_belt                     22
Siberian_husky                20
German_shepherd               20
Staffordshire_bullterrier     20
web_site                      19
Cardigan                      19
Shetland_sheepdog             18
Eskimo_dog                    18
Maltese_dog                   18
teddy                         18
beagle                        18
Rottweiler                    17
Lakeland_terrier              17
Shih-Tzu                      17
Italian_greyhound             16
kuvasz                        16
                            ...
sundial                        1
sulphur-crested_cockatoo       1
teapot                         1
toilet_seat                    1
banana                         1
cougar                         1
American_black_bear            1
soccer_ball                    1
sea_urchin                     1
revolver                       1
maillot                        1
quilt                          1
bakery                         1
carousel                       1
orange                         1
washer                         1
marmot                         1
carton                         1
remote_control                 1
military_uniform               1
grey_fox                       1
padlock                        1
pitcher                        1
cowboy_boot                    1
Madagascar_cat                 1
snowmobile                     1
binoculars                     1
cup                            1
restaurant                     1
stove                          1
Name: p1, Length: 378, dtype: int64

issues in image dataframe
1. Quality issues:
    - Non-descriptive column headers: p1, p1_conf, p1_dog, p2, p2_dog, p3, p3_conf, p3_dog etc. 
    - Some of the dog breeds has first letter capitalized and some are not. 
    - Some of the dog breeds are misspelled (ie. 19 of the breeds is website) or intended misspelled (ie. cheeseburger) 
    
2. Tidiess issues

In [12]:
status_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2348 entries, 0 to 2347
Data columns (total 3 columns):
tweet_id          2348 non-null int64
retweet_count     2348 non-null int64
favorite_count    2348 non-null int64
dtypes: int64(3)
memory usage: 73.4 KB

issues in status dataframe
1. Quality issues:
    - wrong data type for tweet ID
2. Tidiess issues

### Summary
Quality issues:
    1. Retweets: some of the tweets in this dataframe are retweet. as mentioned in the project detail, These retweets are not supposed to be included in the analysis.
    2. Unnecessary information: text, sources are not needed for analysis. Retweeted_status_id and retweeted_status_user_id, and retweetd_status_timestamp are not needed after data cleaning procedure. 
    3. Wrong data type for tweet id. Since no calculations will be applied on tweet ID, the tweet ID needs to be str instead of int64.
    4. The timestamp column has wrong data type. 
    5. Non-descriptive column headers: p1, p1_conf, p1_dog, p2, p2_dog, p3, p3_conf, p3_dog etc. 
    6. Some of the dog breeds has first letter capitalized and some are not. 
    7. Many ratings' denominator are not 10, even the numerator which greater than 10 is the feature of this twitter account, keep the denominator same is vital to later analysis. 
    8. Date and time are in the same column, this is not necessarily a tidyness issue, because its nothing wrong with putting this two in same column. It still need tobe parsed because we will perfome analysis around date and time later. 

Tidyness issues:
    1. One observation unit does not form a table. At least, retweet_count and favorite_count needs to be part of the archive dataframe to form a complete observation unit. 
    2. Dog stages are not in one column, instead, they are divided into 4.

# Data Cleaning

#### Issue #1 : retweets

#### Define:
Remove all tweet rows that has nonnull value in retweeted_status_id column in archive dataframe.

#### Code

In [13]:
# create a copy
archive_df_clean = archive_df.copy()

# only keep tweet whose retweeted_status_id is NAn
archive_df_clean = archive_df_clean[archive_df_clean['retweeted_status_id'].isnull()]

#### Test

In [14]:
archive_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2175 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2175 non-null object
source                        2175 non-null object
text                          2175 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2117 non-null object
rating_numerator              2175 non-null int64
rating_denominator            2175 non-null int64
name                          2175 non-null object
doggo                         2175 non-null object
floofer                       2175 non-null object
pupper                        2175 non-null object
puppo                         2175 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 305.9+ KB

#### Issue #2: Unnecessary information
#### Define:
Remove columns: expanded_urls, in_reply_to_status_id, in_reply_to_user_id, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, source. 

#### Code

In [15]:
# Drop unwanted columns
archive_df_clean = archive_df_clean.drop(columns=['expanded_urls', 'in_reply_to_status_id', 'in_reply_to_user_id', 'text', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp', 'source'])

#### Test

In [16]:
list(archive_df_clean)

['tweet_id',
 'timestamp',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

#### Issue #3: Wrong datatype for tweet ID
#### Define:
Change data type of Tweet ID to string

#### Code

In [17]:
# change the datatype of tweet_id
archive_df_clean['tweet_id'] = archive_df_clean['tweet_id'].astype(str)
# change the datatype of tweet_id column in status_df as well
status_df['tweet_id'] = status_df['tweet_id'].astype(str)

#### Test

In [18]:
archive_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 9 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: int64(2), object(7)
memory usage: 169.9+ KB

#### Issue #4: Wrong datatype for time stamp column
#### Define:
Remove columns: change the timestamp column to 

#### Code

In [46]:
#analysis the timestamp column
type(archive_df_clean['timestamp'])

archive_df_clean.head(10)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,date,time,stage
0,892420643555336193,2017-08-01 16:23:56,13,10,Phineas,08-01-2017,16:23,N/A
1,892177421306343426,2017-08-01 00:17:27,13,10,Tilly,08-01-2017,00:17,N/A
2,891815181378084864,2017-07-31 00:18:03,12,10,Archie,07-31-2017,00:18,N/A
3,891689557279858688,2017-07-30 15:58:51,13,10,Darla,07-30-2017,15:58,N/A
4,891327558926688256,2017-07-29 16:00:24,12,10,Franklin,07-29-2017,16:00,N/A
5,891087950875897856,2017-07-29 00:08:17,13,10,None,07-29-2017,00:08,N/A
6,890971913173991426,2017-07-28 16:27:12,13,10,Jax,07-28-2017,16:27,N/A
7,890729181411237888,2017-07-28 00:22:40,13,10,None,07-28-2017,00:22,N/A
8,890609185150312448,2017-07-27 16:25:51,13,10,Zoey,07-27-2017,16:25,N/A
9,890240255349198849,2017-07-26 15:59:51,14,10,Cassie,07-26-2017,15:59,doggo

In [20]:
# single out first 19 digits of the timestamp
archive_df_clean['timestamp'] = archive_df_clean.timestamp.str[:19]

archive_df_clean['timestamp'] = pd.to_datetime(archive_df_clean['timestamp'], format = "%Y-%m-%d %H:%M:%S")

In [47]:
archive_df_clean.head(10)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,date,time,stage
0,892420643555336193,2017-08-01 16:23:56,13,10,Phineas,08-01-2017,16:23,N/A
1,892177421306343426,2017-08-01 00:17:27,13,10,Tilly,08-01-2017,00:17,N/A
2,891815181378084864,2017-07-31 00:18:03,12,10,Archie,07-31-2017,00:18,N/A
3,891689557279858688,2017-07-30 15:58:51,13,10,Darla,07-30-2017,15:58,N/A
4,891327558926688256,2017-07-29 16:00:24,12,10,Franklin,07-29-2017,16:00,N/A
5,891087950875897856,2017-07-29 00:08:17,13,10,None,07-29-2017,00:08,N/A
6,890971913173991426,2017-07-28 16:27:12,13,10,Jax,07-28-2017,16:27,N/A
7,890729181411237888,2017-07-28 00:22:40,13,10,None,07-28-2017,00:22,N/A
8,890609185150312448,2017-07-27 16:25:51,13,10,Zoey,07-27-2017,16:25,N/A
9,890240255349198849,2017-07-26 15:59:51,14,10,Cassie,07-26-2017,15:59,doggo

#### Test

In [22]:
archive_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 9 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 169.9+ KB

#### Issue #5: Non-Descriptive column header in image dataframe
#### Define:
change following column headers:

- p1 -> prediction_1
- p1_conf -> prediction_1_confidence
- p1_dog -> prediction_1_result
- p2 -> prediction_2
- p2_conf -> prediction_2_confidence
- p2_dog -> prediction_2_result
- p3 -> prediction_3
- p3_conf -> prediction_3_confidence
- p3_dog -> prediction_3_result
#### Code

In [23]:
image_df_clean = image_df.copy()
image_df_clean.rename(columns={'p1': 'prediction_1', 'p1_conf': 'prediction_1_confidence', 'p1_dog': 'prediction_1_result'}, inplace=True)
image_df_clean.rename(columns={'p2': 'prediction_2', 'p2_conf': 'prediction_2_confidence', 'p2_dog': 'prediction_2_result'}, inplace=True)
image_df_clean.rename(columns={'p3': 'prediction_3', 'p3_conf': 'prediction_3_confidence', 'p3_dog': 'prediction_3_result'}, inplace=True)

#### Test

In [48]:
image_df_clean.sample(10)

,tweet_id,jpg_url,img_num,prediction_1,prediction_1_confidence,prediction_1_result,prediction_2,prediction_2_confidence,prediction_2_result,prediction_3,prediction_3_confidence,prediction_3_result
1587,798209839306514432,https://pbs.twimg.com/media/CxPPnCYWIAAo_ao.jpg,1,Pekinese,0.524583,True,Shih-Tzu,0.102931,True,Pomeranian,0.097893,True
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,Soft-Coated_Wheaten_Terrier,0.326467,True,Afghan_Hound,0.259551,True,Briard,0.206803,True
1870,844704788403113984,https://pbs.twimg.com/media/C7j-hkSW0AIxCZC.jpg,1,Labrador_Retriever,0.980213,True,Golden_Retriever,0.007012,True,Beagle,0.003147,True
96,667724302356258817,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,1,Ibex,0.619098,False,Bighorn,0.125119,False,Ram,0.074673,False
1879,846514051647705089,https://pbs.twimg.com/media/C79sB4xXwAEvwKY.jpg,2,Golden_Retriever,0.650003,True,Leonberg,0.065199,True,Norfolk_Terrier,0.052955,True
1379,764857477905154048,https://pbs.twimg.com/media/Cp1R0ZTWcAAaPO4.jpg,1,Bernese_Mountain_Dog,0.792059,True,Appenzeller,0.155034,True,Entlebucher,0.038374,True
900,699801817392291840,https://pbs.twimg.com/media/CbYyCMcWIAAHHjF.jpg,2,Golden_Retriever,0.808978,True,Irish_Setter,0.042428,True,Labrador_Retriever,0.023536,True
540,676975532580409345,https://pbs.twimg.com/media/CWUZpydWcAAeipD.jpg,1,Malamute,0.363257,True,Siberian_Husky,0.245862,True,Eskimo_Dog,0.125547,True
1896,850145622816686080,https://pbs.twimg.com/media/C8xS655XkAAv9vo.jpg,2,Tennis_Ball,0.714798,False,Kelpie,0.105390,True,Malinois,0.058553,True
1032,711652651650457602,https://pbs.twimg.com/media/CeBMT6-WIAA7Qqf.jpg,1,Llama,0.856789,False,Arabian_Camel,0.098727,False,Neck_Brace,0.016377,False

#### Issue #6: the first letter of all dog names are not all capitalized.
#### Define:
capitalize the first letter of all dog breeds

#### Code

In [25]:
image_df_clean.prediction_1 = image_df_clean.prediction_1.str.title()
image_df_clean.prediction_2 = image_df_clean.prediction_2.str.title()
image_df_clean.prediction_3 = image_df_clean.prediction_3.str.title()

#### Test

In [49]:
image_df_clean.sample(10)

,tweet_id,jpg_url,img_num,prediction_1,prediction_1_confidence,prediction_1_result,prediction_2,prediction_2_confidence,prediction_2_result,prediction_3,prediction_3_confidence,prediction_3_result
1314,754856583969079297,https://pbs.twimg.com/media/CnnKCKNWgAAcOB8.jpg,2,Golden_Retriever,0.872385,True,Labrador_Retriever,0.099963,True,Cocker_Spaniel,0.006051,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,Coho,0.404640,False,Barracouta,0.271485,False,Gar,0.189945,False
774,689623661272240129,https://pbs.twimg.com/media/CZIJD2SWIAMJgNI.jpg,1,Toy_Poodle,0.279604,True,Mashed_Potato,0.208564,False,Labrador_Retriever,0.077481,True
1002,708810915978854401,https://pbs.twimg.com/media/CdYzwuYUIAAHPkB.jpg,2,Golden_Retriever,0.976139,True,Labrador_Retriever,0.016301,True,Norfolk_Terrier,0.001871,True
295,671357843010908160,https://pbs.twimg.com/media/CVEkZaPXIAEw5vr.jpg,1,Italian_Greyhound,0.831757,True,Toy_Terrier,0.043306,True,Chihuahua,0.036773,True
85,667509364010450944,https://pbs.twimg.com/media/CUN4Or5UAAAa5K4.jpg,1,Beagle,0.636169,True,Labrador_Retriever,0.119256,True,Golden_Retriever,0.082549,True
461,674800520222154752,https://pbs.twimg.com/media/CV1ffl3XAAAiFyr.jpg,1,Pembroke,0.876479,True,Cardigan,0.096911,True,Dingo,0.009196,False
884,698953797952008193,https://pbs.twimg.com/media/CbMuxV5WEAAIBjy.jpg,1,Italian_Greyhound,0.382378,True,Redbone,0.102255,True,Shower_Cap,0.076834,False
614,680161097740095489,https://pbs.twimg.com/media/CXBq6RPWkAAaNuU.jpg,1,Bluetick,0.268681,True,Miniature_Pinscher,0.125652,True,English_Setter,0.089373,True
385,673345638550134785,https://pbs.twimg.com/media/CVg0SVRWEAAsBrS.jpg,1,Hamster,0.761025,False,Weasel,0.069362,False,Pomeranian,0.064627,True

#### Issue #7: Many ratings' denominator are not 10
#### Define:
Scale tweets who's denominators more than 10 or less than 10 to 10

#### Code

In [27]:
archive_df_clean.info()
archive_df_clean.rating_denominator.value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 9 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 169.9+ KB

10     2153
50        3
80        2
11        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [51]:
for index, row in archive_df_clean.iterrows():
    if row['rating_denominator'] == 0:
        new_denominator = 10
        archive_df_clean.set_value(index, 'rating_denominator', new_denominator)
    elif row['rating_denominator'] != 10:
        print(row['tweet_id'])
        new_denominator = 10
        new_numerator = round((row['rating_numerator']/row['rating_denominator'])*10, 1)
        #print(row['rating_denominator'])
        #print(new_denominator)
        #print(row['rating_numerator'])
        #print(new_numerator)
        archive_df_clean.set_value(index, 'rating_denominator', new_denominator)
        archive_df_clean.set_value(index, 'rating_numerator', new_numerator)
#     else:
#         new_denominator = rating_denominator
#         new_numerator = rating_numerator

#### Test

In [29]:
archive_df_clean.rating_denominator.value_counts()

10    2175
Name: rating_denominator, dtype: int64

#### Issue #8: date and time are in one column
#### Define:
seperate date and time into two columns for easier visualization regards the time in a day.

#### Code

In [30]:
archive_df_clean['date'] = archive_df_clean['timestamp'].apply(lambda time: time.strftime('%m-%d-%Y'))
archive_df_clean['time'] = archive_df_clean['timestamp'].apply(lambda time: time.strftime('%H:%M'))

#### Test

In [50]:
archive_df_clean.head(10)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,date,time,stage
0,892420643555336193,2017-08-01 16:23:56,13,10,Phineas,08-01-2017,16:23,N/A
1,892177421306343426,2017-08-01 00:17:27,13,10,Tilly,08-01-2017,00:17,N/A
2,891815181378084864,2017-07-31 00:18:03,12,10,Archie,07-31-2017,00:18,N/A
3,891689557279858688,2017-07-30 15:58:51,13,10,Darla,07-30-2017,15:58,N/A
4,891327558926688256,2017-07-29 16:00:24,12,10,Franklin,07-29-2017,16:00,N/A
5,891087950875897856,2017-07-29 00:08:17,13,10,None,07-29-2017,00:08,N/A
6,890971913173991426,2017-07-28 16:27:12,13,10,Jax,07-28-2017,16:27,N/A
7,890729181411237888,2017-07-28 00:22:40,13,10,None,07-28-2017,00:22,N/A
8,890609185150312448,2017-07-27 16:25:51,13,10,Zoey,07-27-2017,16:25,N/A
9,890240255349198849,2017-07-26 15:59:51,14,10,Cassie,07-26-2017,15:59,doggo

tidyness issue #1: dog stages not in one column
#### Define
combine doggo, floofer, pupper and puppo columns into stage column

#### Code

In [52]:
archive_df_clean.head(10)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,date,time,stage
0,892420643555336193,2017-08-01 16:23:56,13,10,Phineas,08-01-2017,16:23,N/A
1,892177421306343426,2017-08-01 00:17:27,13,10,Tilly,08-01-2017,00:17,N/A
2,891815181378084864,2017-07-31 00:18:03,12,10,Archie,07-31-2017,00:18,N/A
3,891689557279858688,2017-07-30 15:58:51,13,10,Darla,07-30-2017,15:58,N/A
4,891327558926688256,2017-07-29 16:00:24,12,10,Franklin,07-29-2017,16:00,N/A
5,891087950875897856,2017-07-29 00:08:17,13,10,None,07-29-2017,00:08,N/A
6,890971913173991426,2017-07-28 16:27:12,13,10,Jax,07-28-2017,16:27,N/A
7,890729181411237888,2017-07-28 00:22:40,13,10,None,07-28-2017,00:22,N/A
8,890609185150312448,2017-07-27 16:25:51,13,10,Zoey,07-27-2017,16:25,N/A
9,890240255349198849,2017-07-26 15:59:51,14,10,Cassie,07-26-2017,15:59,doggo

In [33]:
archive_df_clean_stage = archive_df_clean.copy()

archive_df_clean_stage["stage"] = ""

for index, row in archive_df_clean_stage.iterrows():
    if row["doggo"]  == "doggo":
        #print(row["doggo"])
        archive_df_clean_stage.loc[index, "stage"] = "doggo"
        
    elif row["floofer"] == "floofer":
        #print(row["floofer"])
        archive_df_clean_stage.loc[index, "stage"] = "floofer"
        
    elif row["pupper"] == "pupper":
        archive_df_clean_stage.loc[index, "stage"] = "pupper"
        
    elif row["puppo"] == "puppo":
        archive_df_clean_stage.loc[index, "stage"] = "puppo"
        
    else:
        archive_df_clean_stage.loc[index, "stage"] = "N/A"

#drop 4 original columns which contains the stage of dogs
#archive_df_clean_stage.drop(["doggo", "floofer", "pupper", "puppo"], axis = 1)        
archive_df_clean = archive_df_clean_stage.copy()
archive_df_clean = archive_df_clean.drop(["doggo", "floofer", "pupper", "puppo"], axis = 1)

#### Test

In [34]:
archive_df_clean["stage"].sample(10)

645        N/A
2202       N/A
1716       N/A
714        N/A
2268       N/A
1457    pupper
1920       N/A
1620       N/A
1173    pupper
129      puppo
Name: stage, dtype: object

In [35]:
archive_df_clean.sample(10)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,date,time,stage
1792,677334615166730240,2015-12-17 03:48:51,9,10,None,12-17-2015,03:48,N/A
403,824297048279236611,2017-01-25 16:45:05,11,10,Nala,01-25-2017,16:45,N/A
823,770069151037685760,2016-08-29 01:22:47,10,10,Carbon,08-29-2016,01:22,N/A
430,821044531881721856,2017-01-16 17:20:45,12,10,Flash,01-16-2017,17:20,N/A
1164,723179728551723008,2016-04-21 16:00:57,8,10,Jangle,04-21-2016,16:00,N/A
2172,669327207240699904,2015-11-25 01:30:16,13,10,None,11-25-2015,01:30,N/A
483,814986499976527872,2016-12-31 00:08:17,11,10,Cooper,12-31-2016,00:08,pupper
1106,734787690684657664,2016-05-23 16:46:51,13,10,None,05-23-2016,16:46,N/A
1729,679862121895714818,2015-12-24 03:12:15,11,10,None,12-24-2015,03:12,N/A
1069,740365076218183684,2016-06-08 02:09:24,10,10,None,06-08-2016,02:09,N/A

tidyness issue #2: observation unit are not in same column
#### Define
inner join three dataframe by twitter ID to forme the observation unit.

#### Code

In [54]:
#twitter_df_final = pd.concat([archive_df_clean, status_df, image_df_clean], axis=1, join='inner')
#create a copy of image_df which has only tweet_id and related data on prediction 1.
image_df_tomerge = image_df_clean.loc[:, ['tweet_id', 'prediction_1', 'prediction_1_confidence','prediction_1_result']]
image_df_tomerge['tweet_id'] = image_df_tomerge['tweet_id'].astype(str)
twitter_df_merged = pd.merge(pd.merge(archive_df_clean, status_df, on='tweet_id'), image_df_tomerge, on='tweet_id')#pd.merge(status_df, image_df_clean, on = 'tweet_id', how='inner')

#### Test

In [55]:
twitter_df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 1993
Data columns (total 13 columns):
tweet_id                   1994 non-null object
timestamp                  1994 non-null datetime64[ns]
rating_numerator           1994 non-null int64
rating_denominator         1994 non-null int64
name                       1994 non-null object
date                       1994 non-null object
time                       1994 non-null object
stage                      1994 non-null object
retweet_count              1994 non-null int64
favorite_count             1994 non-null int64
prediction_1               1994 non-null object
prediction_1_confidence    1994 non-null float64
prediction_1_result        1994 non-null bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 204.5+ KB

# Store data

In [ ]:
twitter_df_merged.to_csv('twitter_archive_master.csv')

# Analysis and Visualization

In [ ]:
twitter_df_merged

## Insights #1

### Breeds: Most Popular vs Most loved

Assume the neural network predicted breeds right, which dog breeds get rated most? which dog breeds gets most favorite? Are they the same?

In [ ]:
twitter_df_merged.head(5)

In [ ]:
#select only predictions where the result is a breed of dogs
prediction_true = twitter_df_merged[twitter_df_merged['prediction_1_result'] == True]

#find the top20 most popular breeds and return its associated data
top20 = prediction_true['prediction_1'].value_counts().head(20).index
top20_df = twitter_df_merged.loc[twitter_df_merged.prediction_1.isin(top20)]

#find the mean favorites for this top 20 most tweeted dog breeds
fav_summary = top20_df.groupby('prediction_1', as_index=False).mean().sort_values('favorite_count')

In [ ]:
top20_mostfav = fav_summary[['prediction_1', 'favorite_count']]

In [ ]:
top20_mosttweeted = top20_df['prediction_1'].value_counts()
top20_mosttweeted = pd.DataFrame(top20_mosttweeted).reset_index()
top20_mosttweeted.columns = ['prediction_1', 'tweet_count']

In [ ]:
#sort two dataframes
top20_mostfav = top20_mostfav.sort_values(by='favorite_count', ascending=False).copy()
top20_mosttweeted = top20_mosttweeted.sort_values(by='tweet_count', ascending=False).copy()

In [ ]:
#combine these two dataframs together, prepare for plot
top20_merged = pd.merge(top20_mostfav, top20_mosttweeted, on='prediction_1')
top20_merged = top20_merged.sort_values('tweet_count', ascending = False).copy()
display(top20_merged)
top20_merged.to_csv('top20_merged.csv')

In [ ]:
#Make a bar plot of this two table

#set ordered y axis accordin to most tweeted breeds

y = top20_merged['prediction_1']
x = top20_merged['tweet_count']
z = top20_merged['favorite_count']

plt.rc('font', size = 22)

f, (ax1, ax2) = plt.subplots(1, 2, sharey=True)

ax1.barh(range(len(y)), x)
plt.yticks(range(len(y)), y)
ax1.set_title('total # of tweets vs dog breeds')
ax1.set(xlabel = 'number of tweets')
ax2.barh(range(len(y)), z)
ax2.set_title('total # of favorites vs dog breeds')
ax2.set(xlabel = 'number of favorites')


f.set_size_inches(18.5, 10.5)
plt.show()

From the plot shown above, we can see even golden retriver has most tweets, french bull dog is the most favorite breeds. However, most of the dogs in top20 most tweeted list are also in most favorites list.

## Insights #2

### Popular dog names

what is the most popular dog names?

In [ ]:
twitter_df_merged['name'].value_counts().head(20)
#top20_dognames = pd.DataFrame(top20_dognames)
#top20_mosttweeted = pd.DataFrame(top20_mosttweeted).reset_index()
#top20 = prediction_true['prediction_1'].value_counts().head(20).index
#display(top20_dognames)

Beside "None" and "a" which is apperently not need real dog names, the most popular dog names are Charlie, Lucy, Oliver and Cooper

## Insights #3

### rated "0" dogs

Knowing the WeRateDogs tend to "spoil" their dogs, is there ever a dog receive 0 rating?

In [ ]:
twitter_df_merged[twitter_df_merged['rating_numerator'] == 0]

Use markdown to display the image.
Appeartly, the first golden retriver truly deserve a 10 and the second image doesn't even a dog.

![alt text](https://pbs.twimg.com/media/C5cOtWVWMAEjO5p.jpg)
![alt text](https://pbs.twimg.com/media/Cl2LdofXEAATl7x.jpg)

## Visualization

### Number of retweets vs time

Is WeRateDogs still popular through these years?
plot the # of retweet against date to see the trend of this account

In [ ]:
retweet_sum = twitter_df_merged.groupby('date', as_index = False).sum()
retweet_sum = retweet_sum.sort_values(by = "date", ascending=False)
#change type of date column to datetime
retweet_sum['date'] = pd.to_datetime(retweet_sum['date'], format = "%m-%d-%Y")
#df.groupby(pd.TimeGrouper(freq='M'))
retweet_sum = retweet_sum.sort_values(by = "date")

retweet_sum.set_index('date', inplace=True)

#top20_mosttweeted = top20_mosttweeted.sort_values(by='count', ascending=False)

In [ ]:
retweet_sum.sample(3)

In [ ]:



figure_v = plt.figure()

retweet_sum['retweet_count'].plot(color = 'red', label='total retweets of the day')
retweet_sum['favorite_count'].plot(color = 'blue', label='total favorites of the day')
plt.title('Time vs retweets and favorites')
plt.xlabel('Month')
plt.ylabel('favorite/retweet count')
plt.legend()
#plt.savefig('visulization_retweet_favorite_vs_time.pdf')

figure_v.set_size_inches(18.5, 10.5)

plt.show(figure_v)

As shown in the graph above, the general trend of retweets keeps amlost the same through 2015 to 2017 while the favorite keep increasing. Its make sense because total number of favorite can easility accumulated over the time and people tend to not retweet a past tweets.

# reference

1. multiple json in txt line by line: https://stackoverflow.com/questions/17055117/python-json-dump-append-to-txt-with-each-variable-on-new-line
2. load json from txt line by line: https://stackoverflow.com/questions/21533894/how-to-read-line-delimited-json-from-large-file-line-by-line
3. create dataframe from json file: https://stackoverflow.com/questions/47925828/how-to-create-a-pandas-dataframe-using-tweepy
4. keep only rows who has NaN in a certain column: https://stackoverflow.com/questions/25430995/keeping-nan-values-and-dropping-nonmissing-values
5. str to datetime: https://stackoverflow.com/questions/17134716/convert-dataframe-column-type-from-string-to-datetime
6. iterate rows to change value https://stackoverflow.com/questions/23330654/update-a-dataframe-in-pandas-while-iterating-row-by-row
7. use isin
8. combine to different columns into 1: 
9. merge 3 dataframes
https://stackoverflow.com/questions/23668427/pandas-joining-multiple-dataframes-on-columns
10. create empty column(s)
https://stackoverflow.com/questions/16327055/how-to-add-an-empty-column-to-a-dataframe
11. conditional mean
https://stackoverflow.com/questions/44787916/conditional-mean-over-a-pandas-dataframe
12. assign column name to series
https://stackoverflow.com/questions/28503445/assigning-column-names-to-a-pandas-series