# Data Gathering

### programmatically downloaded using the Requests library

In [ ]:
#import libraries
import requests
import pandas as pd
import json
import datetime as dt
import matplotlib as mp
import seaborn as

In [ ]:
#store file to file handler
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
code = r.status_code
print(code)
#save downloaded file to local folder
open('image-predictions.tsv', 'wb').write(r.content)

### Download tweet ID, retweet count, and favorite count using Tweepy API

In [ ]:
#read twitte IDs

#read the twitter-archive-enhanced.csv file in to dataframe
df_1 = pd.read_csv('twitter-archive-enhanced.csv')
df_1
#convert the first column of the datafram(tweet id) to a list
IDlist = df_1['tweet_id'].tolist()
IDlist

In [ ]:
#pull twitter status json from twitter API and store them into a list
import tweepy

# key and token omitted for privacy
consumer_key = '*'
consumer_secret = '*'
access_token = '*'
access_secret = '*'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit  = True, wait_on_rate_limit_notify = True)

tweet_list = []

for tid in IDlist:
    try:
        tweet = api.get_status(tid, tweet_mode='extended')
        tweet_list.append(tweet._json)
    except:
        print('tweet ' + str(tid) + "doesn't" exist')

In [ ]:
#check if all tweet status has been downloaded
len(tweet_list)

In [ ]:
# write json to txt file

# type(tweet_json)
with open('tweet_json.txt', 'w') as outfile:
    for tweet_json in tweet_list:
        json.dump(tweet_json, outfile)
        outfile.write('\n') #add a newline character at the end of each json

In [ ]:
# read json from text

tweet_df_raw = pd.read_json('tweet_json.txt', lines = 'True')
tweet_df = tweet_df_raw[['id', 'retweet_count', 'favorite_count']]

# Data Assessing

In [ ]:
#load 3 dataframes from different sources
archive_df = pd.read_csv('twitter-archive-enhanced.csv')
image_df = pd.read_csv('image-predictions.tsv', sep='\t')
status_df = tweet_df.copy()
status_df.rename(columns = {"id": "tweet_id"}, inplace = True)

In [ ]:
status_df

In [ ]:
archive_df.info()
archive_df.sample()
type(archive_df.timestamp)

In [ ]:
archive_df.rating_denominator.value_counts()

issues in archive dataframe
1. Quality issues:
    - Retweets: some of the tweets in this dataframe are retweet, as mentioned in the project detail. These retweet are not supposed to be included in the analysis
    - Unnecessary information: text, sources are not needed for analysis. Retweeted_status_id and retweeted_status_user_id, and retweetd_status_timestamp are not needed after data cleaning procedure. 
    - The rating_numerator and rating_denominator can be combined into one column in decimal form.
    - Wrong data type for tweet id. Since no calculations will be applied on tweet ID, the tweet ID needs to be str instead of int64.
    - The timestamp column has wrong data type. 
2. Tidiess issues
    - Dog stages are not in one column, instead, they are divided into 4.
    - Date and time should be two variables for the purpose of analysis.

In [ ]:
image_df.info()
image_df.p1.value_counts()
#image_df.sample()

issues in image dataframe
1. Quality issues:
    - Non-descriptive column headers: p1, p1_conf, p1_dog, p2, p2_dog, p3, p3_conf, p3_dog etc. 
    - Some of the dog breeds has first letter capitalized and some are not. 
    - Some of the dog breeds are misspelled (ie. 19 of the breeds is website) or intended misspelled (ie. cheeseburger) 
    
2. Tidiess issues

In [ ]:
status_df.info()

issues in status dataframe
1. Quality issues:
    - wrong data type for tweet ID
2. Tidiess issues

### Summary
Quality issues:
    1. Retweets: some of the tweets in this dataframe are retweet. as mentioned in the project detail, These retweets are not supposed to be included in the analysis.
    2. Unnecessary information: text, sources are not needed for analysis. Retweeted_status_id and retweeted_status_user_id, and retweetd_status_timestamp are not needed after data cleaning procedure. 
    3. Wrong data type for tweet id. Since no calculations will be applied on tweet ID, the tweet ID needs to be str instead of int64.
    4. The timestamp column has wrong data type. 
    5. Non-descriptive column headers: p1, p1_conf, p1_dog, p2, p2_dog, p3, p3_conf, p3_dog etc. 
    6. Some of the dog breeds has first letter capitalized and some are not. 
    7. Many ratings' denominator are not 10, even the numerator which greater than 10 is the feature of this twitter account, keep the denominator same is vital to later analysis. 
    8. Date and time are in the same column, this is not necessarily a tidyness issue, because its nothing wrong with putting this two in same column. It still need tobe parsed because we will perfome analysis around date and time later. 

Tidyness issues:
    1. One observation unit does not form a table. At least, retweet_count and favorite_count needs to be part of the archive dataframe to form a complete observation unit. 
    2. Dog stages are not in one column, instead, they are divided into 4.

# Data Cleaning

Issue #1 : retweets

#### Define:
Remove all tweet rows that has nonnull value in retweeted_status_id column in archive dataframe.

#### Code

In [ ]:
# create a copy
archive_df_clean = archive_df.copy()

# only keep tweet whose retweeted_status_id is NAn
archive_df_clean = archive_df_clean[archive_df_clean['retweeted_status_id'].isnull()]

#### Test

In [ ]:
archive_df_clean.info()

Issue #2: Unnecessary information
#### Define:
Remove columns: expanded_urls, in_reply_to_status_id, in_reply_to_user_id, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, source. 

#### Code

In [ ]:
# Drop unwanted columns
archive_df_clean = archive_df_clean.drop(columns=['expanded_urls', 'in_reply_to_status_id', 'in_reply_to_user_id', 'text', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp', 'source'])

#### Test

In [ ]:
list(archive_df_clean)

Issue #3: Wrong datatype for tweet ID
#### Define:
Change data type of Tweet ID to string

#### Code

In [ ]:
# change the datatype of tweet_id
archive_df_clean['tweet_id'] = archive_df_clean['tweet_id'].astype(str)
# change the datatype of tweet_id column in status_df as well
status_df['tweet_id'] = status_df['tweet_id'].astype(str)

#### Test

In [ ]:
archive_df_clean.info()

Issue #4: Wrong datatype for time stamp column
#### Define:
Remove columns: change the timestamp column to 

#### Code

In [ ]:
#analysis the timestamp column
type(archive_df_clean['timestamp'])

archive_df_clean.head(100)

In [ ]:
# single out first 19 digits of the timestamp
archive_df_clean['timestamp'] = archive_df_clean.timestamp.str[:19]

archive_df_clean['timestamp'] = pd.to_datetime(archive_df_clean['timestamp'], format = "%Y-%m-%d %H:%M:%S")

In [ ]:
archive_df_clean.head(100)

#### Test

In [ ]:
archive_df_clean.info()

Issue #5: Non-Descriptive column header in image dataframe
#### Define:
change following column headers:

- p1 -> prediction_1
- p1_conf -> prediction_1_confidence
- p1_dog -> prediction_1_result
- p2 -> prediction_2
- p2_conf -> prediction_2_confidence
- p2_dog -> prediction_2_result
- p3 -> prediction_3
- p3_conf -> prediction_3_confidence
- p3_dog -> prediction_3_result
#### Code

In [ ]:
image_df_clean = image_df.copy()
image_df_clean.rename(columns={'p1': 'prediction_1', 'p1_conf': 'prediction_1_confidence', 'p1_dog': 'prediction_1_result'}, inplace=True)
image_df_clean.rename(columns={'p2': 'prediction_2', 'p2_conf': 'prediction_2_confidence', 'p2_dog': 'prediction_2_result'}, inplace=True)
image_df_clean.rename(columns={'p3': 'prediction_3', 'p3_conf': 'prediction_3_confidence', 'p3_dog': 'prediction_3_result'}, inplace=True)

#### Test

In [ ]:
image_df_clean.sample(100)

Issue #6: the first letter of all dog names are not all capitalized.
#### Define:
capitalize the first letter of all dog breeds

#### Code

In [ ]:
image_df_clean.prediction_1 = image_df_clean.prediction_1.str.title()
image_df_clean.prediction_2 = image_df_clean.prediction_2.str.title()
image_df_clean.prediction_3 = image_df_clean.prediction_3.str.title()

#### Test

In [ ]:
image_df_clean.sample(100)

Issue #7: Many ratings' denominator are not 10
#### Define:
Scale tweets who's denominators more than 10 or less than 10 to 10

#### Code

In [ ]:
archive_df_clean.info()
archive_df_clean.rating_denominator.value_counts()

In [ ]:
for index, row in archive_df_clean.iterrows():
    if row['rating_denominator'] == 0:
        new_denominator = 10
        archive_df_clean.set_value(index, 'rating_denominator', new_denominator)
    elif row['rating_denominator'] != 10:
        print(row['tweet_id'])
        new_denominator = 10
        new_numerator = round((row['rating_numerator']/row['rating_denominator'])*10, 1)
        print(row['rating_denominator'])
        print(new_denominator)
        print(row['rating_numerator'])
        print(new_numerator)
        archive_df_clean.set_value(index, 'rating_denominator', new_denominator)
        archive_df_clean.set_value(index, 'rating_numerator', new_numerator)
#     else:
#         new_denominator = rating_denominator
#         new_numerator = rating_numerator

#### Test

In [ ]:
archive_df_clean.rating_denominator.value_counts()

Issue #8: date and time are in one column
#### Define:
seperate date and time into two columns for easier visualization regards the time in a day.

#### Code

In [ ]:
archive_df_clean['date'] = archive_df_clean['timestamp'].apply(lambda time: time.strftime('%m-%d-%Y'))
archive_df_clean['time'] = archive_df_clean['timestamp'].apply(lambda time: time.strftime('%H:%M'))

#### Test

In [ ]:
archive_df_clean

tidyness issue #1: dog stages not in one column
#### Define
combine doggo, floofer, pupper and puppo columns into stage column

#### Code

In [ ]:
archive_df_clean

In [ ]:
archive_df_clean_stage = archive_df_clean.copy()

archive_df_clean_stage["stage"] = ""

for index, row in archive_df_clean_stage.iterrows():
    if row["doggo"]  == "doggo":
        #print(row["doggo"])
        archive_df_clean_stage.loc[index, "stage"] = "doggo"
        
    elif row["floofer"] == "floofer":
        #print(row["floofer"])
        archive_df_clean_stage.loc[index, "stage"] = "floofer"
        
    elif row["pupper"] == "pupper":
        archive_df_clean_stage.loc[index, "stage"] = "pupper"
        
    elif row["puppo"] == "puppo":
        archive_df_clean_stage.loc[index, "stage"] = "puppo"
        
    else:
        archive_df_clean_stage.loc[index, "stage"] = "N/A"

#drop 4 original columns which contains the stage of dogs
#archive_df_clean_stage.drop(["doggo", "floofer", "pupper", "puppo"], axis = 1)        
archive_df_clean = archive_df_clean_stage.copy()
archive_df_clean = archive_df_clean.drop(["doggo", "floofer", "pupper", "puppo"], axis = 1)

#### Test

In [ ]:
archive_df_clean["stage"].sample(10)

In [ ]:
archive_df_clean.sample(10)

tidyness issue #2: observation unit are not in same column
#### Define
inner join three dataframe by twitter ID to forme the observation unit.

#### Code

In [ ]:
type()

In [ ]:
#twitter_df_final = pd.concat([archive_df_clean, status_df, image_df_clean], axis=1, join='inner')
#create a copy of image_df which has only tweet_id and related data on prediction 1.
image_df_tomerge = image_df_clean.loc[:, ['tweet_id', 'prediction_1', 'prediction_1_confidence','prediction_1_result']]
image_df_tomerge['tweet_id'] = image_df_tomerge['tweet_id'].astype(str)
twitter_df_merged = pd.merge(pd.merge(archive_df_clean, status_df, on='tweet_id'), image_df_tomerge, on='tweet_id')#pd.merge(status_df, image_df_clean, on = 'tweet_id', how='inner')

#### Test

In [ ]:
twitter_df_merged.info()

# Store data

In [ ]:
twitter_df_merged.to_csv('twitter_archive_master.csv')

# Analysis and Visualization

## Insights #1

### Breeds: Most Popular vs Most loved

Assume the neural network predicted breeds right, which dog breeds get rated most? which dog breeds gets most favorite? Are they the same?

In [ ]:
twitter_df_merged.head(5)

In [155]:
#select only predictions where the result is a breed of dogs
prediction_true = twitter_df_merged[twitter_df_merged['prediction_1_result'] == True]

#find the top20 most popular breeds and return its associated data
top20 = prediction_true['prediction_1'].value_counts().head(20).index
top20_df = twitter_df_merged.loc[twitter_df_merged.prediction_1.isin(top20)]

#find the mean favorites for this top 20 most tweeted dog breeds
fav_summary = top20_df.groupby('prediction_1', as_index=False).mean().sort_values('favorite_count')

In [161]:
top20_mostfav = fav_summary[['prediction_1', 'favorite_count']]

In [164]:
top20_mosttweeted = top20_df['prediction_1'].value_counts()
top20_mosttweeted = pd.DataFrame(top20_mosttweeted).reset_index()
top20_mosttweeted.columns = ['Breeds', 'count']

In [174]:
#sort two dataframes
top20_mostfav = top20_mostfav.sort_values(by='favorite_count', ascending=False)
top20_mosttweeted = top20_mosttweeted.sort_values(by='count', ascending=False)

In [175]:
#display two table
display(top20_mostfav)
display(top20_mosttweeted)

                 prediction_1  favorite_count
5              French_Bulldog    17751.769231
15                    Samoyed    13449.725000
7            Golden_Retriever    12222.848921
4                  Eskimo_Dog    11875.555556
8          Labrador_Retriever    11714.042105
3              Cocker_Spaniel    11584.185185
12                   Pembroke    11316.784091
0    Chesapeake_Bay_Retriever    10489.826087
6             German_Shepherd    10054.500000
2                        Chow    10044.024390
18  Staffordshire_Bullterrier     9748.315789
9                    Malamute     8725.310345
1                   Chihuahua     8711.734177
11         Miniature_Pinscher     8644.590909
16          Shetland_Sheepdog     8497.166667
13                 Pomeranian     8051.447368
17             Siberian_Husky     6943.050000
19                 Toy_Poodle     6574.973684
14                        Pug     5871.851852
10                Maltese_Dog     2950.611111

                       Breeds  count
0            Golden_Retriever    139
1          Labrador_Retriever     95
2                    Pembroke     88
3                   Chihuahua     79
4                         Pug     54
5                        Chow     41
6                     Samoyed     40
7                  Pomeranian     38
8                  Toy_Poodle     38
9                    Malamute     29
10             Cocker_Spaniel     27
11             French_Bulldog     26
12   Chesapeake_Bay_Retriever     23
13         Miniature_Pinscher     22
14             Siberian_Husky     20
15            German_Shepherd     20
16  Staffordshire_Bullterrier     19
17          Shetland_Sheepdog     18
18                Maltese_Dog     18
19                 Eskimo_Dog     18

# reference

1. multiple json in txt line by line: https://stackoverflow.com/questions/17055117/python-json-dump-append-to-txt-with-each-variable-on-new-line
2. load json from txt line by line: https://stackoverflow.com/questions/21533894/how-to-read-line-delimited-json-from-large-file-line-by-line
3. create dataframe from json file: https://stackoverflow.com/questions/47925828/how-to-create-a-pandas-dataframe-using-tweepy
4. keep only rows who has NaN in a certain column: https://stackoverflow.com/questions/25430995/keeping-nan-values-and-dropping-nonmissing-values
5. str to datetime: https://stackoverflow.com/questions/17134716/convert-dataframe-column-type-from-string-to-datetime
6. iterate rows to change value https://stackoverflow.com/questions/23330654/update-a-dataframe-in-pandas-while-iterating-row-by-row
7. use isin
8. combine to different columns into 1: 
9. merge 3 dataframes
https://stackoverflow.com/questions/23668427/pandas-joining-multiple-dataframes-on-columns
10. create empty column(s)
https://stackoverflow.com/questions/16327055/how-to-add-an-empty-column-to-a-dataframe
11. conditional mean
https://stackoverflow.com/questions/44787916/conditional-mean-over-a-pandas-dataframe
12. assign column name to series
https://stackoverflow.com/questions/28503445/assigning-column-names-to-a-pandas-series